.burgerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    .nav {
        position: relative;
        position: fixed;
        top: 12px;
        right: 5%;
        min-width: 55%;
        height: 400px;
        border-radius: 14px;
        box-shadow: 2px 2px 6.1px 0px rgba(0, 0, 0, 0.25);
        background: rgb(255, 255, 255);
        padding: 24px 12px;
        animation: nav 0.3s ease-in normal none 1 running;

        .closed {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 5px;
        }

        .ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                .menu_item {
                    color: rgb(25, 25, 27);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: 0%;
                    // text-align: center;
                }

                .active {
                    color: rgb(52, 152, 219);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                }


            }

            .address {
                display: flex;
                gap: 17px;

                .city_by {
                    color: rgb(25, 25, 27);
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                }

                p {
                    color: rgb(25, 25, 27);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                }

                img {
                    width: 12px;
                }
            }

            .phone_number {
                display: flex;
                gap: 14px;

                a {
                    color: rgb(25, 25, 27);
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                }

                img {
                    width: 15px;
                }
            }

            .ikons {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    width: 15px;
                    height: 15px;
                }

                p {
                    color: rgb(25, 25, 27);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                }
            }
        }
    }

    @keyframes nav {
        0% {
            right: -45%;
        }

        100% {
            right: 5%;
        }
    }
}