.ShowDocument {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.top_ShowDocument {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			color: rgb(0, 0, 0);
			font-size: 24px;
			font-weight: 600;
			line-height: 130%;
			letter-spacing: 0%;
			text-align: center;
		}

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px 38px;
			border-radius: 8px;
			background: rgb(52, 152, 219);
			color: rgb(252, 252, 252);
			font-size: 20px;
			font-weight: 500;
			line-height: 120%;
			letter-spacing: 0%;
			text-align: left;
		}

		@media (max-width: 768px) {
			h2 {
				font-size: 16px;
			}

			button {
				font-size: 14px;
				padding: 12px 18px 12px 18px;
			}
		}

		@media (max-width: 360px) {
			h2 {
				font-size: 14px;
			}

			button {
				font-size: 12px;
				padding: 10px 14px 10px 14px;
			}
		}

		@media (max-width: 330px) {
			h2 {
				font-size: 12px;
			}

			button {
				font-size: 10px;
				padding: 10px 14px 10px 14px;
			}
		}
	}

	.doc_output {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 20px;
		max-height: calc(100vh + 200px);

		.blue_bg {
			width: 100%;
			height: 40px;
			background: rgb(52, 152, 219);
			border-radius: 16px 16px 0px 0px;
		}

		.output_card {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 20px;
			max-height: 200vh;
			overflow-y: auto;

			.docs_card {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				// height: 210px;
				padding: 8px 10px 8px 10px;

				& a {
					display: flex;
					gap: 50px;
					align-items: center;

					p {
						color: rgb(0, 0, 0);
						font-size: 16px;
						font-weight: 400;
						line-height: 19px;
						letter-spacing: 0%;
						text-align: center;
					}

					img {
						width: 150px;
						height: 100%;
						border-radius: 16px;
						object-fit: cover;
						object-position: center;
					}
				}

				.delete {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					cursor: pointer;
				}
			}

			@media (max-width: 768px) {
				.docs_card {
					& a {
						gap: 30px;

						img {
							width: 130px;
						}
					}

					.delete {
						width: 40px;
						height: 40px;
					}
				}
			}

			@media (max-width: 420px) {
				.docs_card {
					& a {
						gap: 20px;

						img {
							width: 100px;
						}

						p {
							font-size: 14px;
						}
					}

					.delete {
						width: 40px;
						height: 40px;
					}
				}
			}

			@media (max-width: 380px) {
				.docs_card {
					& a {
						gap: 20px;

						img {
							width: 70px;
						}
					}

					.delete {
						width: 35px;
						height: 35px;
					}
				}
			}
		}
	}
}