.Tariff {
    width: 1440px;
    margin: 70px auto 0;

    .box {
        width: 90%;
        margin: 0 auto;
    }
}

@media(max-width: 1440px) {
    .Tariff {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .Tariff {
        margin: 40px auto 0;
    }
}

@media(max-width: 768px) {
    .Tariff {
        margin: 30px auto 0;
    }
}