.authorization {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .enter {
        width: 35%;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #3498DB;
        color: var(--White, #FFF);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        /* 23.4px */
    }

    .registration {
        width: 55%;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #3498DB;

        .registr {
            color: var(--White, #FFF);
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            background-color: #3498DB;
            /* 23.4px */
        }
    }

    @media(max-width: 1024px) {
        .enter {
            font-size: 14px;
            font-weight: 400;
        }

        .registration {
            padding: 10px;

            .registr {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    @media(max-width: 768px) {
        .enter {
            font-size: 12px;
            font-weight: 400;
        }

        .registration {
            .registr {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}