.box {
    width: 1440px;
    height: 100%;
    margin: 70px auto 0;

    .twoNavigate {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .gruzOne {
            width: 49%;
            height: 430px;
            border-radius: 16px 16px 16px 16px;
            box-shadow: 1px 4px 10px 0px #00000040;
            display: flex;
            justify-content: center;
            align-items: center;

            .gruz_one {
                min-width: 49.14%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .aaa {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 45%;

                @media(max-width: 380px) {
                    height: 35%;
                }

                p {
                    color: rgb(105, 104, 113);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: center;
                    width: 78%;

                    @media(max-width: 1280px) {
                        font-size: 14px;
                    }

                    @media(max-width: 1024px) {
                        font-size: 12px;
                    }

                    @media(max-width: 768px) {
                        font-size: 14px;
                    }

                    @media(max-width: 500px) {
                        font-size: 12px;
                    }

                    @media(max-width: 380px) {
                        font-size: 10px;
                    }
                }

                button {
                    border-radius: 8px;
                    border: 1px solid #3498DB;
                    background-color: #fff;
                    color: rgb(52, 152, 219);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: center;
                    width: 100%;
                    padding: 5px;
                    height: 40px;

                    @media(max-width: 1280px) {
                        font-size: 14px;
                    }

                    @media(max-width: 1024px) {
                        font-size: 12px;
                    }

                    @media(max-width: 768px) {
                        font-size: 14px;
                    }

                    @media(max-width: 500px) {
                        font-size: 12px;
                    }

                    @media(max-width: 380px) {
                        font-size: 10px;
                    }
                }

            }
        }

        .gruzTwo {
            width: 49%;
            height: 430px;
            border-radius: 16px 16px 16px 16px;
            // border-radius: 0px 16px 16px 0px;
            box-shadow: 1px 4px 10px 0px #00000040;
            display: flex;
            align-items: center;

            .gruz_two {
                min-width: 49.14%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .bbb {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 45%;

                @media(max-width: 380px) {
                    height: 35%;
                }

                p {
                    color: rgb(105, 104, 113);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: center;
                    width: 78%;

                    @media(max-width: 1280px) {
                        font-size: 14px;
                    }

                    @media(max-width: 1024px) {
                        font-size: 12px;
                    }

                    @media(max-width: 768px) {
                        font-size: 14px;
                    }

                    @media(max-width: 500px) {
                        font-size: 12px;
                    }

                    @media(max-width: 380px) {
                        font-size: 10px;
                    }
                }

                button {
                    border-radius: 8px;
                    border: 1px solid #3498DB;
                    background-color: #fff;
                    color: rgb(52, 152, 219);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: center;
                    width: 100%;
                    padding: 5px;
                    height: 40px;

                    @media(max-width: 1280px) {
                        font-size: 14px;
                    }

                    @media(max-width: 1024px) {
                        font-size: 12px;
                    }

                    @media(max-width: 768px) {
                        font-size: 14px;
                    }

                    @media(max-width: 500px) {
                        font-size: 12px;
                    }

                    @media(max-width: 380px) {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    @media(max-width:768px) {
        .twoNavigate {
            display: flex;
            flex-direction: column;

            .gruzOne {
                width: 95%;
                margin-bottom: 30px;
            }

            .gruzTwo {
                width: 95%;
                margin-left: 5%;
            }

        }
    }
}


@media(max-width: 1440px) {
    .box {
        width: 100%;
    }
}