.mobile_footer {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 20px;

    .ikon {
        width: 115px;
    }

    .contacts {
        display: flex;
        height: 85px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .phone_number {
            display: flex;
            width: 150px;
            justify-content: space-between;

            img {
                width: 15px;
            }

            a {
                color: rgb(25, 25, 27);
                font-size: 14px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: center;
            }
        }

        .address {
            display: flex;
            gap: 14px;

            img {
                width: 12px;
            }

            p {
                color: rgb(25, 25, 27);
                font-size: 14px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: center;
            }

            @media (max-width: 330px) {
                p {
                    font-size: 12px;
                }
            }
        }

        .mobile_ikons {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                width: 20px;
            }

            p {
                color: rgb(25, 25, 27);
                font-size: 14px;
                font-weight: 600;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: center;
            }
        }
    }

    .description {
        display: flex;
        height: 50px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h3 {
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: left;
            cursor: pointer;
        }
    }

    @media (max-width: 330px) {
        .description {
            width: 100%;

            h3 {
                font-size: 14px;
            }
        }
    }
}