.FreeSixMonths {
  width: 100%;
  display: flex;
  align-items: center;

  .card_free_left,
  .card_free_blue,
  .card_free {
    flex: 0 1 33%;
    border-radius: 16px 0px 0px 16px;
    box-shadow: -3px 3px 24px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    padding: 175px 0;
    display: flex;
    justify-content: center;

    .in_card {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      & h2 {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2px;
        text-align: center;
        width: 120px;
        text-transform: uppercase;
      }

      .card_price {
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 185px;

        & span {
          color: rgb(0, 0, 0);
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: left;
        }

        & h2 {
          color: rgb(0, 0, 0);
          font-size: 58px;
          font-weight: 700;
          line-height: 70px;
          letter-spacing: -1px;
          text-align: center;
        }

        .right_field {
          display: flex;
          flex-direction: column;
          gap: 15px;

          & p {
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
            width: 80px;
          }
        }
      }

      & p {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: center;
        width: 180px;
      }

      & button {
        border-radius: 7px;
        width: 130px;
        background: rgb(52, 152, 219);
        color: rgb(252, 252, 252);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        padding: 9px 37px;
        position: relative;

        &::after {
          content: ' ';
          position: absolute;
          background-color: rgb(252, 252, 252);
          width: 4px;
          height: 140px;
          transform: rotate(75deg);
          top: -48px;
          left: 60px;
        }
      }
    }
  }

  .card_free_blue {
    flex: 0 1 33%;
    border-radius: 16px;
    background: rgb(52, 152, 219);
    padding: 190px 0;

    .in_card {
      & h2 {
        color: rgb(252, 252, 252);
      }

      .card_price {

        & span,
        & h2 {
          color: rgb(252, 252, 252);
        }

        .right_field {
          & p {
            color: rgb(252, 252, 252);
          }
        }
      }

      & p {
        color: rgb(252, 252, 252);
      }

      & button {
        color: rgb(52, 152, 219);
        background-color: #FCFCFC;

        &::after {
          background-color: rgb(52, 152, 219);
        }
      }
    }
  }

  .card_free {
    flex: 0 1 33%;
    border-radius: 0px 16px 16px 0px;
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    padding: 175px 0;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 1200px) {

    .card_free_left,
    .card_free {
      padding: 120px 0;
    }

    .card_free_blue {
      padding: 140px 0;
    }
  }

}

@media (max-width: 1024px) {
  .FreeSixMonths {
    justify-content: space-between;

    .card_free_left,
    .card_free {
      border-radius: 16px;
      flex: 0 1 48%;
      padding: 170px 0;
    }

    @media (max-width: 850px) {

      .card_free_left,
      .card_free {
        padding: 120px 0;
        border-radius: 16px;
        flex: 0 1 48%;
      }
    }

    .card_free_blue {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .FreeSixMonths {
    justify-content: center;

    .card_free_left {
      display: none;
    }

    .card_free {
      flex: 0 1 420px;
      padding: 170px 0;
    }

    @media (max-width: 500px) {

      .card_free {
        flex: 0 1 100%;
      }
    }

    @media (max-width: 400px) {

      .card_free {
        padding: 120px 0;
      }
    }
  }
}