.AdditionalInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .loading {
        display: flex;

        h2 {
            width: 140px;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: left;
        }

        .price,
        .prices {
            width: 200px;
            display: flex;
            align-items: center;
            padding: 6px;
            box-sizing: border-box;
            border: 1px solid rgb(199, 199, 199);
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
        }

        .price {
            appearance: none;
            background-color: #fff;
            background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .5em top 50%, 0 0;
            background-size: .65em auto, 100%;
        }


        .price_currency {
            display: flex;
            gap: 13px;

            .price,
            .prices {
                width: 200px;
                display: flex;
                align-items: center;
                padding: 6px;
                box-sizing: border-box;
                border: 1px solid rgb(199, 199, 199);
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: left;
            }

            .price {
                appearance: none;
                background-color: #fff;
                background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
                background-repeat: no-repeat, repeat;
                background-position: right .5em top 50%, 0 0;
                background-size: .65em auto, 100%;
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            .currency {
                width: 90px;
                display: flex;
                align-items: center;
                padding: 6px;
                box-sizing: border-box;
                border: 1px solid rgb(199, 199, 199);
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: left;
                appearance: none;
                background-color: #fff;
                background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
                background-repeat: no-repeat, repeat;
                background-position: right .5em top 50%, 0 0;
                background-size: .65em auto, 100%;
                padding-right: 25px;
            }

            .errorText {
                border: 2px solid red;
            }
        }

        .errorText {
            border: 2px solid red;
        }

        .select_fields {
            display: flex;
            flex-direction: column;
            gap: 13px;

            h3 {
                color: rgba(25, 25, 27, 0.8);
                font-size: 16px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: left;
            }

            .inputs_for_user {
                display: flex;
                gap: 13px;

                input {
                    box-sizing: border-box;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: left;
                    width: 200px;
                    padding: 5px;
                }

                .errorText {
                    border: 2px solid red;
                }
            }

            @media(max-width: 768px) {
                .inputs_for_user {
                    flex-direction: column;
                    gap: 12px;
                }
            }

            label {
                display: flex;
                align-items: center;
                color: rgb(25, 25, 27);
                font-size: 16px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: left;
                cursor: pointer;

                input {
                    margin-right: 10px;
                }

                .quantity {
                    width: 115px;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: center;
                    margin-left: 20px;
                }
            }

            .errorTextEr {
                color: red;
            }
        }
    }

    @media(max-width: 768px) {
        .loading {
            flex-direction: column;
            gap: 12px;
        }
    }
}