.Price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media(max-width: 1400px) {
    .Price {
        justify-content: space-evenly;
    }
}

// @media(max-width: 1024px) {
//     .Price {
//         justify-content: space-between;
//     }
// }