.backround {
    height: 500px;
    // margin-bottom: 20px;
    position: relative;
    width: 100%;


    img {
        width: 100%;
        height: 315px;
        border-radius: 16px 16px 16px 16px;

        object-fit: cover;
        /* тень */
        object-position: center;

        box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
        background: url();
    }

    .blur {
        height: 110px;
        width: 100%;

        position: absolute;
        bottom: 30px;

        backdrop-filter: blur(5px);

        border-radius: 0px 0px 16px 16px;
        box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);

        background: rgba(132, 132, 132, 0.25);

        h1 {
            color: rgb(252, 252, 252);
            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;
            margin: 0 0 0 30px;
            padding-top: 32px;
            padding-bottom: 10px;
        }

        p {
            color: rgb(252, 252, 252);
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-left: 30px;
        }
    }
}

@media(max-width:768px) {

    .backround {
        position: relative;
        margin-top: 30px;
        height: 100%;

        .blur {
            position: absolute;
            // bottom: 180px;
            top: 210px;
        }

    }

}