.CreateCargoOrder {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .add_cargo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: rgb(0, 0, 0);
            font-size: 24px;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: center;
        }

        @media(max-width: 400px) {
            h2 {
                font-size: 20px;
            }
        }

        button {
            width: 137px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 8px;
            background: rgb(52, 152, 219);
            color: rgb(252, 252, 252);
            font-size: 12px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .form_create_cargo {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .field_to_fill {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .buttons {
            display: flex;
            justify-content: end;
            gap: 10px;
            align-items: center;


            .error_text {
                color: red;
                font-size: 24px;
                font-weight: 600;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: center;
            }

            @media(max-width: 1024px) {
                .error_text {
                    font-size: 18px;
                }
            }

            button {
                width: 266px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                background: rgb(52, 152, 219);
                color: rgb(252, 252, 252);
                font-size: 20px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: left;
            }
        }

        @media(max-width: 768px) {
            .buttons {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                button {
                    width: 100%;

                }
            }
        }

    }

    @media(max-width: 768px) {
        .form_create_cargo {
            gap: 20px;
        }
    }
}