.CardFree {
  flex: 0 1 32%;
  border-radius: 16px;
  box-shadow: -3px 3px 24px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 175px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .in_card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    & h2 {
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 2px;
      text-align: center;
      width: 120px;
      text-transform: uppercase;
    }

    .card_price {
      display: flex;
      gap: 20px;
      justify-content: center;
      width: 185px;

      & span {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
      }

      & h2 {
        color: rgb(0, 0, 0);
        font-size: 58px;
        font-weight: 700;
        line-height: 70px;
        letter-spacing: -1px;
        text-align: center;
      }

      .right_field {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & p {
          color: rgb(0, 0, 0);
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: left;
          width: 80px;
        }
      }
    }

    & p {
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: center;
      width: 180px;
    }

    & button {
      border-radius: 7px;
      width: 130px;
      background: rgb(52, 152, 219);
      color: rgb(252, 252, 252);
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: center;
      padding: 9px 37px;
      position: relative;

      &::after {
        content: ' ';
        position: absolute;
        background-color: rgb(252, 252, 252);
        width: 4px;
        height: 140px;
        transform: rotate(75deg);
        top: -48px;
        left: 60px;
      }
    }
  }

  @media (hover:hover) {
    &:hover {
      background-color: rgb(52, 152, 219);

      .in_card {
        & h2 {
          color: rgb(252, 252, 252);
        }

        .card_price {

          & span,
          & h2 {
            color: rgb(252, 252, 252);
          }

          .right_field {
            & p {
              color: rgb(252, 252, 252);
            }
          }
        }

        & p {
          color: rgb(252, 252, 252);
        }

        & button {
          color: rgb(52, 152, 219);
          background-color: #FCFCFC;

          &::after {
            background-color: rgb(52, 152, 219);
          }
        }
      }
    }
  }

  @media (hover:none) {
    &:active {
      background-color: rgb(52, 152, 219);

      .in_card {
        & h2 {
          color: rgb(252, 252, 252);
        }

        .card_price {

          & span,
          & h2 {
            color: rgb(252, 252, 252);
          }

          .right_field {
            & p {
              color: rgb(252, 252, 252);
            }
          }
        }

        & p {
          color: rgb(252, 252, 252);
        }

        & button {
          color: rgb(52, 152, 219);
          background-color: #FCFCFC;

          &::after {
            background-color: rgb(52, 152, 219);
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .CardFree {
    padding: 120px 0;
  }
}

@media (max-width: 1200px) {
  .CardFree {
    padding: 170px 0;
    flex: 0 1 48%;
  }

  @media (max-width: 850px) {
    .CardFree {
      padding: 120px 0;
    }
  }
}

@media (max-width: 768px) {
  .CardFree {
    flex: 0 1 420px;
    padding: 170px 0;
  }

  @media (max-width: 500px) {
    .CardFree {
      flex: 0 1 100%;
    }
  }

  @media (max-width: 400px) {
    .CardFree {
      padding: 120px 0;
    }
  }
}