.CargoCard {
    display: flex;
    // justify-content: space-between;

    .title_cargo {
        width: 140px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: start;

        span {
            font-size: 18px;
            color: rgb(254, 94, 29);

        }
    }

    .input_field {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .required_fields {
            display: flex;
            // justify-content: space-between;
            gap: 13px;

            .name_cargo {
                width: 220px;
                display: flex;
                align-items: center;
                padding: 6px;
                box-sizing: border-box;
                border: 1px solid rgb(199, 199, 199);
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: left;
                appearance: none;
                background-color: #fff;
                background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
                background-repeat: no-repeat, repeat;
                background-position: right .5em top 50%, 0 0;
                background-size: .65em auto, 100%;

                .chapter {
                    border-bottom: 1px solid rgb(29, 18, 18);
                    font-weight: 700;
                    text-align: center;
                }
            }

            .errorText {
                border: 2px solid red;
            }

            .add_info {
                display: flex;
                gap: 13px;

                .weight,
                .volume,
                .unit {
                    width: 100px;
                    display: flex;
                    align-items: center;
                    padding: 6px;
                    box-sizing: border-box;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: left;
                }

                .unit {
                    justify-content: center;
                    width: 50px;
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                @media(max-width: 1080px) {

                    .weight,
                    .volume,
                    .unit {
                        width: 90px;
                    }
                }

                .errorText {
                    border: 2px solid red;
                }
            }

            .unit {
                text-align: center;
            }
        }

        .not_required_fields {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 250px;

            .description {
                display: flex;
                justify-content: space-between;

                h2 {
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: right;
                }
            }

            .inputs {
                display: flex;
                gap: 13px;

                input {
                    width: 80px;
                    box-sizing: border-box;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: right;
                    padding: 5px;
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                .errorText {
                    border: 2px solid red;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .CargoCard {
        flex-direction: column;
        gap: 12px;

        .input_field {
            .required_fields {
                flex-direction: column;

                .name_cargo {
                    width: 325px;
                }

                @media(max-width: 380px) {

                    .name_cargo,
                    .add_info {
                        width: 100%;
                    }
                }
            }

            .not_required_fields {
                width: 325px;
            }

            @media(max-width: 380px) {

                .not_required_fields {
                    width: 100%;
                }
            }
        }
    }
}