.SuccessfulRequest {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1000;
	background-color: #00000066;

	.card_succ,
	.error_div {
		// width: 200px;
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #3498db;
		border-radius: 16px;
		padding: 32px;
		position: relative;
		cursor: default;

		.closed {
			display: none;
		}

		.title {
			color: rgb(255, 255, 255);
			font-size: 24px;
			font-weight: 500;
			line-height: 120%;
			letter-spacing: 0px;
			text-align: center;
		}
	}

	.error_div {
		background-color: #fff;

		.error_text {
			color: red;
			font-size: 24px;
			font-weight: 500;
			line-height: 120%;
			letter-spacing: 0px;
			text-align: center;
		}
	}

	@media (max-width: 768px) {
		.card_succ {
			width: 90%;

			.closed {
				display: block;
				position: absolute;
				top: 5px;
				right: 5px;
				font-size: 30px;
				color: #fff;
				padding: 3px;
				z-index: 200;
			}
		}
	}
}