.AddDocument {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .block_in_AddDocument {
        width: 700px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        p {
            color: rgb(33, 33, 33);
            font-size: 18px;
            font-weight: 400;
            line-height: 139.4%;
            letter-spacing: 2%;
            text-align: center;
        }

        .add_doc {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 38px;
            border-radius: 8px;
            background: rgb(52, 152, 219);
            color: rgb(252, 252, 252);
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0%;
            text-align: center;
        }
    }


    @media(max-width: 768px) {
        .block_in_AddDocument {
            width: 343px;
            height: 407px;
            gap: 20px;

            p {
                font-size: 14px;
            }

            .add_doc {
                width: 100%;
            }
        }
    }

    @media(max-width: 400px) {
        .block_in_AddDocument {
            width: 100%;
        }
    }
}