.CreateOrder {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;

    .change_oreder {
        display: flex;
        align-items: center;
        gap: 25px;

        .active {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 0px 12px 0px;
            border-radius: 8px;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
            background: rgb(52, 152, 219);
            color: rgb(252, 252, 252);
            font-size: 18px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: center;
        }

        .turned_off {
            width: 150px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            padding: 12px 0px 12px 0px;
            border-radius: 8px;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
            background: rgb(252, 252, 252);
            color: rgb(25, 25, 27);
            font-size: 18px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: center;
        }
    }

    @media(max-width: 400px) {
        .change_oreder {
            width: 100%;
            justify-content: space-between;

            .active,
            .turned_off {
                width: 45%;
                font-size: 16px;
            }

        }
    }
}