.BodyCard {
    width: 100%;
    display: flex;
    // flex-direction: column;
    // align-items: end;
    gap: 20px;

    .title_body {
        width: 140px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: start;

        span {
            font-size: 18px;
            color: rgb(254, 94, 29);

        }
    }

    .input_field {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .selection_fields {
            display: flex;
            align-items: center;
            gap: 13px;

            h2 {
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: right;
            }

            .select {
                height: 35px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 6px 25px 6px 6px;
                box-sizing: border-box;
                border: 1px solid rgb(199, 199, 199);
                border-radius: 8px;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0%;
                appearance: none;
                background-color: #fff;
                background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
                background-repeat: no-repeat, repeat;
                background-position: right .5em top 50%, 0 0;
                background-size: .65em auto, 100%;

                option {
                    width: 100%;
                }
            }


            .kinds_cargo {
                display: flex;
                gap: 5px;

                label {
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: right;
                    display: flex;
                    gap: 5px;
                }
            }

            .errorText {
                border: 2px solid red;
            }
        }

        .loading_type {
            display: flex;
            align-items: center;
            gap: 13px;

            h2 {
                min-width: 105px;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: left;
            }

            .type_load {
                max-height: 130px;
                width: 200px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: flex-start;
                padding: 6px;
                box-sizing: border-box;
                border: 1px solid rgb(199, 199, 199);
                border-radius: 8px;
                overflow-y: auto;
                overflow-x: hidden;

                label {
                    width: 300px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                @media(max-width: 1200px) {
                    label {
                        width: 100%;
                    }
                }
            }

            .errorText {
                border: 2px solid red;
            }
        }

        .lifting_capacity {
            display: flex;
            align-items: center;
            gap: 13px;

            h2 {
                width: 180px;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: left;
            }

            input {
                width: 130px;
                height: 30px;
                display: flex;
                align-items: center;
                padding: 6px;
                box-sizing: border-box;
                border: 1px solid rgb(199, 199, 199);
                border-radius: 8px;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0%;
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            @media(max-width: 1200px) {
                input {
                    width: 100px;
                }
            }

            .errorText {
                border: 2px solid red;
            }
        }

        .body_dimensions {
            display: flex;
            align-items: center;
            gap: 13px;

            h2 {
                width: 180px;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: left;
            }

            .inputs {
                display: flex;
                gap: 13px;

                input {
                    width: 130px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    padding: 6px;
                    box-sizing: border-box;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: 0%;
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                .errorText {
                    border: 2px solid red;
                }
            }

            @media(max-width: 1200px) {
                .inputs {
                    input {
                        width: 100px;
                    }
                }
            }

            @media(max-width: 360px) {
                .inputs {
                    input {
                        width: 80px;
                    }
                }
            }
        }

        .p_dimensions {
            width: 560px;
            padding: 4px;
            border-radius: 4px;
            background: rgb(248, 248, 248);
            color: rgba(25, 25, 27, 0.8);
            font-size: 14px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
        }

        @media(max-width: 1200px) {
            .p_dimensions {
                font-size: 13px;
                width: 520px;
            }
        }

        @media(max-width: 570px) {
            .p_dimensions {
                width: 100%;
            }
        }

        @media(max-width: 340px) {
            .p_dimensions {
                font-size: 12px;
            }
        }

        @media(max-width: 620px) {

            .selection_fields,
            .loading_type,
            .body_dimensions {
                flex-direction: column;
                align-items: start;
            }
        }


    }
}

@media(max-width: 768px) {
    .BodyCard {
        flex-direction: column;
    }
}