.Confirmation {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1000;
	background-color: #00000066;

	.box {
		width: 650px;
		height: 400px;
		padding: 32px;
		border-radius: 16px;
		background-color: #fff;
		cursor: default;

		.form {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.closed {
				display: none;
			}

			h2 {
				color: rgb(25, 25, 27);
				font-size: 32px;
				font-weight: 700;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: center;
			}

			h3 {
				color: rgb(25, 25, 27);
				font-size: 18px;
				font-weight: 500;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: center;
			}

			p {
				color: rgb(25, 25, 27);
				font-size: 18px;
				font-weight: 500;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: center;
			}

			.error_text {
				color: red;
				font-size: 18px;
				font-weight: 500;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: center;
			}

			.inputs {
				width: 100%;
				height: 100px;
				display: flex;
				justify-content: center;
				align-items: center;

				div {
					border-radius: 8px;
					height: 91px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			p {
				color: rgb(25, 25, 27);
				font-size: 18px;
				font-weight: 600;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: center;
			}

			.cursor {
				color: rgb(25, 25, 27);
				font-size: 18px;
				font-weight: 600;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: center;
				cursor: pointer;
			}

			.buttons {
				display: flex;
				justify-content: end;

				button {
					width: 200px;
					display: flex;
					padding: 18px;
					// padding: 10px;
					justify-content: center;
					align-items: center;
					gap: 10px;
					border-radius: 10px;
					background: #3498db;
					color: rgb(252, 252, 252);
					font-size: 20px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0%;
					text-align: left;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.box {
			width: 90%;
			height: 380px;

			.form {
				.closed {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					font-size: 30px;
				}

				h2 {
					font-size: 20px;
				}

				h3 {
					font-size: 18px;
				}

				p {
					font-size: 18px;
				}

				.inputs {
					div {
						height: 60px;
					}
				}
			}
		}
	}
}