.UnloadingCard {
    display: flex;

    .title_unloading {
        width: 140px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: start;

        span {
            font-size: 18px;
            color: rgb(254, 94, 29);

        }
    }

    .field_for_info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .input_field {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .address {
                display: flex;
                gap: 13px;

                input {
                    width: 250px;
                    display: flex;
                    align-items: center;
                    padding: 6px;
                    box-sizing: border-box;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: left;
                }

                .country_city {
                    width: 250px;
                    display: flex;
                    align-items: center;
                    padding: 6px;
                    box-sizing: border-box;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: left;
                }

                .errorText {
                    border: 2px solid red;
                }
            }

            .loading_info {
                display: flex;
                align-items: end;
                gap: 10px;

                .loading_time {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    h2 {
                        color: rgb(0, 0, 0);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 130%;
                        letter-spacing: 0%;
                        text-align: start;
                    }

                    input {
                        width: 100px;
                        display: flex;
                        align-items: center;
                        padding: 6px;
                        box-sizing: border-box;
                        border: 1px solid rgb(199, 199, 199);
                        border-radius: 8px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 120%;
                        letter-spacing: 0px;
                        text-align: left;
                        appearance: none;
                        background-color: #fff;
                    }

                    .errorText {
                        border: 2px solid red;
                    }
                }

                .add_address_none {
                    display: none;
                }

                .add_address {
                    display: flex;
                    align-items: center;
                    padding: 8px;
                    box-sizing: border-box;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: left;
                    appearance: none;
                    background-color: #fff;
                    cursor: pointer;
                }
            }

            .card_places {
                padding: 5px;
                border-radius: 5px;
                display: flex;
                gap: 10px;
                box-shadow: 0 0 5px 1px #3498db5b;
                position: relative;
                padding-right: 25px;

                .closed {
                    position: absolute;
                    color: #000;
                    font-size: 25px;
                    padding: 5px;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                }

                .bird {
                    color: rgb(52, 152, 219);
                    font-size: 18px;
                    font-weight: 900;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: start;
                }

                .places {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    .title_in_places {
                        color: rgb(0, 0, 0);
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 130%;
                        letter-spacing: 0%;
                        text-align: start;

                        @media(max-width: 768px) {
                            font-size: 14px;
                        }

                        .span_in_places {
                            color: rgb(0, 0, 0);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 130%;
                            letter-spacing: 0%;
                            text-align: start;

                            @media(max-width: 768px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .input_field_none {
            display: none;
        }
    }

    .check_for_completion {
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;

        span {
            color: rgb(52, 152, 219);
        }
    }

    @media(max-width: 850px) {
        .check_for_completion {
            font-size: 15px;
        }
    }

    @media(max-width: 590px) {
        .check_for_completion {
            width: 325px;
        }
    }

    @media(max-width: 400px) {
        .check_for_completion {
            width: 100%;
        }
    }
}

@media(max-width: 768px) {
    .UnloadingCard {
        flex-direction: column;
        gap: 12px;

        .input_field {
            .address {
                flex-direction: column;
            }

            .loading_time {
                flex-direction: column;
            }
        }
    }
}