.PaymentHistory {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .payment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 20px;
        border-radius: 16px 16px 0px 0px;
        background: rgb(52, 152, 219);

        p {
            flex: 25%;
            color: rgb(252, 252, 252);
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0%;
            text-align: left;
        }

    }

    .output {
        display: flex;
        justify-content: center;
        align-items: center;

        .title_empty {
            color: rgb(0, 0, 0);
            font-size: 22px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: center;
            height: 100px;
        }
    }

    @media(max-width: 768px) {
        .payment {
            width: 100%;

            p {
                display: none;
            }
        }
    }
}