.RouteCard {
    width: 100%;
    display: flex;
    gap: 20px;

    .title_route {
        width: 140px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: start;

        span {
            font-size: 18px;
            color: rgb(254, 94, 29);

        }
    }

    .input_field {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .where {
            width: 100%;
            display: flex;
            gap: 13px;

            h2 {
                width: 130px;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: left;
            }

            .country_city {
                width: 150px;
                display: flex;
                align-items: center;
                padding: 6px 24px 6px 6px;
                box-sizing: border-box;
                border: 1px solid rgb(199, 199, 199);
                border-radius: 8px;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: start;
            }

            .country_city {
                width: 200px;
            }

            .address {
                width: 400px;
            }

            .errorText {
                border: 2px solid red;
            }
        }

        @media(max-width: 380px) {
            .where {
                flex-direction: column;

                .country_city {
                    width: 100%;
                }
            }
        }
    }

}


@media(max-width: 768px) {
    .RouteCard {
        flex-direction: column;
    }
}