.Comment {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;

  .Comment_card {
    width: 50%;
    max-height: 70%;
    background-color: #fff;
    border-radius: 16px;
    overflow-y: auto;
    padding: 20px;
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .closed {
      position: absolute;
      font-size: 25px;
      padding: 5px;
      top: 0;
      right: 0;
    }


    & p {
      width: 90%;
      color: rgb(25, 25, 27);
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 20px;
    }

    @media (max-width: 550px) {


      & p {
        font-size: 12px;
      }
    }
  }

  @media (max-width: 768px) {
    .Comment_card {
      width: 90%;
    }
  }
}