.NewPassword {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1000;
	background-color: #00000066;

	.box {
		width: 650px;
		height: 400px;
		padding: 32px;
		background-color: #fff;
		border-radius: 16px;
		cursor: default;
		.form {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: baseline;
			position: relative;

			.closed {
				display: none;
			}

			h2 {
				color: #000;
				text-align: center;
				font-size: 30px;
				font-style: normal;
				font-weight: 500;
				line-height: 130%;
			}

			.inputs {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;

				.input_password,
				.input_password2 {
					color: rgb(25, 25, 27);
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
					margin-bottom: 5px;
				}

				.error_input_password,
				.error_input_password2 {
					color: red;
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
					margin-bottom: 5px;
				}

				.input_password {
					width: 100%;
				}
			}

			.error {
				display: flex;
				justify-content: end;
				align-items: center;
				width: 100%;

				h4 {
					width: 60%;
					color: red;
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: center;
					margin-bottom: 5px;
				}

				button {
					width: 180px;
					display: flex;
					padding: 18px;
					// padding: 10px;
					justify-content: center;
					align-items: center;
					gap: 10px;
					border-radius: 10px;
					background: #3498db;
					color: rgb(252, 252, 252);
					font-size: 20px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0%;
					text-align: left;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.box {
			width: 90%;
			height: 415px;

			.form {
				.closed {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					font-size: 30px;
				}

				.error {
					button {
						width: 100%;
					}
				}
			}
		}
	}
}
