.ChangingUserData {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	cursor: pointer;

	.card_ChangingUserData {
		width: 650px;
		max-height: calc(100vh - 195px);
		background-color: #fff;
		border-radius: 16px;
		overflow-y: auto;
		padding: 32px;
		position: relative;
		overflow-y: auto;
		cursor: default;

		.closed {
			display: none;
			position: absolute;
			font-size: 25px;
			padding: 5px;
			top: 5px;
			right: 5px;
		}

		.form_ChangingUserData {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.file_dowload {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 12px;

				h2,
				.errorText {
					color: rgb(0, 0, 0);
					font-size: 22px;
					font-weight: 400;
					line-height: 130%;
					letter-spacing: 0%;
					text-align: center;
				}

				.errorText {
					color: red;
				}

				@media (max-width: 345px) {
					h2 {
						font-size: 18px;
					}
				}

				@media (max-width: 315px) {
					h2 {
						font-size: 15px;
					}
				}

				.pictures {
					width: 80px;
					height: 80px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 7px;
					box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
					background: rgb(255, 255, 255);
					position: relative;

					.input_file {
						width: 100%;
						height: 100%;
						padding-left: 80px;
						bottom: 0;
						left: 0;
						position: absolute;
					}

					.hidden {
						opacity: 0;
						width: 0;
						height: 0;
						line-height: 0;
						overflow: hidden;
						padding: 0;
						margin: 0;
					}
				}
			}

			.info_field {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 6px;

				.all_style {
					color: rgb(25, 25, 27);
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
				}

				.error_name,
				.error_Email,
				.error_phone,
				.error_dol,
				.error_city,
				.error_country {
					color: red;
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
				}

				input {
					display: flex;
					align-items: center;
					padding: 12px 6px 12px 6px;
					box-sizing: border-box;
					border: 1px solid rgb(199, 199, 199);
					border-radius: 8px;
				}
			}

			.save_data {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 18px 38px 18px 38px;
				border-radius: 8px;
				background: rgb(52, 152, 219);
				color: rgb(252, 252, 252);
				font-size: 20px;
				font-weight: 500;
				line-height: 120%;
				letter-spacing: 0%;
				text-align: left;
				margin-top: 12px;
				width: 35%;
			}

			@media (max-width: 768px) {
				.save_data {
					width: 100%;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.card_ChangingUserData {
			width: 90%;

			.closed {
				display: block;
			}
		}
	}
}