.navigate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 65%;

	.fame_logo {
		.logo {
			width: 115px;
		}
	}

	@media (max-width: 1024px) {
		.logo {
			width: 100px;
			// height: 55px;
		}
	}

	@media (max-width: 834px) {
		.logo {
			width: 61px;
			// height: 35px;
		}
	}

	.nav {
		min-width: 80%;
		// background-color: aqua;
		display: flex;
		justify-content: space-between;

		.ul {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			height: 50px;

			span {
				display: block;
				width: 1px;
				height: 23px;
				background-color: #696871;
			}

			@media (max-width: 834px) {
				span {
					height: 16px;
				}
			}

			li {
				// flex: 0 0 11%;
				text-align: center;

				.menu_item {
					font-family: 'Montserrat';
					font-size: 18px;
					font-weight: 500;
					line-height: 23px;
					letter-spacing: 0em;
					text-align: center;
					color: black;
					cursor: pointer;
				}

				.avtive {
					position: relative;
					color: rgb(25, 25, 27);
					font-size: 18px;
					font-weight: 700;
					line-height: 130%;
					letter-spacing: 0%;
					text-align: center;
				}

				.avtive:after {
					display: block;
					position: absolute;
					left: 0;
					top: 35px;
					width: 100%;
					height: 5px;
					border-radius: 6px;
					background-color: #3498db;
					content: '';
				}

				@media (max-width: 1300px) {
					.menu_item,
					.avtive {
						font-size: 16px;
					}
				}

				@media (max-width: 1150px) {
					.menu_item,
					.avtive {
						font-size: 14px;
					}
				}

				@media (max-width: 950px) {
					.menu_item,
					.avtive {
						font-size: 13px;
					}
				}

				@media (max-width: 834px) {
					.menu_item,
					.avtive {
						font-size: 12px;
					}

					.avtive:after {
						left: 0;
						top: 25px;
						height: 4px;
					}
				}

				@media (max-width: 768px) {
					.menu_item,
					.avtive {
						font-size: 11px;
					}
				}
			}
		}
	}
}
