.BodyCard {
    display: flex;
    // gap: 20px;


    .title_body {
        width: 140px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: start;

        span {
            font-size: 18px;
            color: rgb(254, 94, 29);
        }
    }

    .paid_info {
        display: flex;
        gap: 13px;

        select {
            width: 250px;
            box-sizing: border-box;
            border: 1px solid rgb(199, 199, 199);
            border-radius: 8px;
            // color: rgb(199, 199, 199);
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            padding: 5px 25px 5px 5px;
            appearance: none;
            background-color: #fff;
            background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .5em top 50%, 0 0;
            background-size: .65em auto, 100%;
        }

        .active_select {
            width: 250px;

            option {
                width: 250px;
            }
        }

        .errorText {
            border: 2px solid red;
        }
    }
}

@media(max-width: 768px) {
    .BodyCard {
        flex-direction: column;
        gap: 12px;

        .paid_info {
            flex-direction: column;
            gap: 12px;
        }
    }
}