.car_output {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    .blue_bg {
        width: 100%;
        height: 40px;
        background: rgb(52, 152, 219);
        border-radius: 16px 16px 0px 0px;
    }

    .output_card {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        max-height: 100vh;
        overflow-y: auto;

        .car_card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 110px;
            padding: 8px 10px 8px 10px;

            .p_car {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;

                p {
                    width: 30%;
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0%;
                    text-align: center;
                }
            }

            @media(max-width:768px) {
                .p_car {
                    flex-direction: column;
                    align-items: start;
                }
            }

            .img_car {
                width: 90px;
                height: 100px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 16px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }


    }
}