.card {
    max-width: 420px;
    padding: 75px 90px 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    margin-bottom: 70px;
    gap: 20;

    h2 {
        color: rgb(25, 25, 27);
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .money {
        display: flex;
        margin-bottom: 30px;
        width: 240px;
        justify-content: space-between;
        margin-left: 40px;

        p {
            color: rgb(25, 25, 27);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }

        .price {
            color: rgb(25, 25, 27);
            font-size: 58px;
            font-weight: 700;
            line-height: 70px;
            letter-spacing: -1px;
            text-align: center;
            margin-right: 15px;
        }

        .description {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            // align-items: center;
            // flex-wrap: nowrap;

            p {
                color: rgb(25, 25, 27);
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: left;
            }
        }
    }

    .description {
        color: rgb(25, 25, 27);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 40px;
        width: 240px;

    }

    .advantages {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;

        p {
            margin-left: 10px;
            color: rgba(25, 25, 27, 0.7);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }

        h6 {
            color: #3498DB;
            font-size: 26px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    .asdf {
        color: rgb(25, 25, 27);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 30px;
    }

    button {
        width: 130px;
        height: 40px;
        display: flex;
        padding: 18px;
        // padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #3498DB;
        color: rgb(252, 252, 252);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }
}

.card:hover {
    background-color: #3498DB;
    transition: 0.4s ease-in;

    p,
    h2,
    h3,
    h6,
    .price {
        color: #fff;
    }

    .description {
        p {
            color: #fff;

        }
    }

    button {
        background-color: #FCFCFC;
        color: #3498DB;
    }
}


@media(max-width: 1024px) {
    .card {
        max-width: 350px;
        padding: 37px 64px;
        margin-bottom: 40px;
    }
}

@media(max-width: 800px) {
    .card {
        max-width: 420px;
        padding: 75px 90px 105px;
    }
}

@media(max-width: 768px) {
    .card {
        margin-bottom: 30px;
    }
}

@media(max-width: 500px) {
    .card {
        max-width: 343px;
        padding: 75px 52px;
    }
}

@media(max-width: 380px) {
    .card {
        max-width: 100%;
        padding: 45px 32px;
    }
}

@media(hover: hover) {
    .card:hover {
        background-color: #3498DB;
        transition: 0.4s ease-in;

        p,
        h2,
        h3,
        h6,
        .price {
            color: #fff;
        }

        .description {
            p {
                color: #fff;

            }
        }

        button {
            background-color: #FCFCFC;
            color: #3498DB;
        }
    }
}

@media(hover:none) {
    .card:active {
        background-color: #3498DB;
        transition: 0.4s ease-in;

        p,
        h2,
        h3,
        h6,
        .price {
            color: #fff;
        }

        .description {
            p {
                color: #fff;

            }
        }

        button {
            background-color: #FCFCFC;
            color: #3498DB;
        }
    }
}