.map {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background: rgb(119, 119, 119);
    margin-bottom: 30px;
}

.disk {
    width: 100%;
}

.displayFlex {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .carsSearch {
        color: rgb(0, 0, 0);
        font-size: 32px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.display {
    display: flex;


    button {
        margin-top: 18px;
        width: 20px;
        height: 10px;
    }



    .span {
        margin-top: 15px;
        background: rgb(159, 159, 159);
        width: 20px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }

    .spanNext {
        margin-top: 15px;

        // background: rgb(159, 159, 159);
        width: 20px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }

    .spanNextTwo {
        width: 20px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 15px;


    }

    .spanNextThree {
        width: 20px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 15px;

    }


}

.FiveP {
    display: flex;
    margin: 15px 0 15px 0;
    width: 100%;
    justify-content: space-around;

    p {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.ul {
    height: 800px;
    overflow-y: scroll;
    padding-right: 10px;

}

::-webkit-scrollbar {
    width: 10px;

}


::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.534);
    border-radius: 4px;

}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgb(52, 152, 219);
    width: 5px;
}