.HistoryOfOrders {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.orders {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 18px 20px;
		border-radius: 16px 16px 0px 0px;
		background: rgb(52, 152, 219);

		p {
			flex: 25%;
			color: rgb(252, 252, 252);
			font-size: 24px;
			font-weight: 400;
			line-height: 29px;
			letter-spacing: 0%;
			text-align: center;
		}
	}

	.output {
		width: 100%;
		max-height: 100vh;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.card,
		.card_bg {
			display: flex;
			width: 100%;
			gap: 20px;
			padding: 18px 20px;
			border-radius: 16px;
			cursor: default;
			position: relative;

			.card_left,
			.card_right {
				display: flex;
				width: 50%;

				p {
					width: 50%;
					color: rgb(0, 0, 0);
					font-size: 16px;
					font-weight: 400;
					line-height: 19px;
					letter-spacing: 0%;
					text-align: center;
				}

				@media (max-width: 600px) {
					p {
						font-size: 14px;
					}
				}

				@media (max-width: 500px) {
					p {
						font-size: 12px;
					}
				}

				@media (max-width: 400px) {
					p {
						font-size: 10px;
					}
				}
			}

			.deleted {
				position: absolute;
				right: 10px;
				z-index: 10;
				top: 0;
				width: 30px;
				height: 100%;
				display: flex;
				align-items: center;

				& img {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					cursor: pointer;
				}
			}
		}

		.card_bg {
			background: #F6F6F6;
		}

		.card {
			background: #EDEDED;
		}

		.title_empty {
			color: rgb(0, 0, 0);
			font-size: 22px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 0%;
			text-align: center;
			height: 100px;
		}
	}

	@media (max-width: 768px) {
		.orders {
			width: 100%;

			p {
				display: none;
			}
		}

		.output {

			.card,
			.card_bg {
				flex-direction: column;
				gap: 0px;

				.card_left,
				.card_right {
					display: flex;
					width: 100%;
				}
			}
		}
	}
}