.AddDocument {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	cursor: pointer;

	.card_AddDocsModal {
		width: 650px;
		max-height: calc(100vh - 200px);
		background-color: #fff;
		border-radius: 16px;
		overflow-y: auto;
		padding: 32px;
		position: relative;
		overflow-y: auto;
		cursor: default;

		.closed {
			display: none;
			position: absolute;
			font-size: 25px;
			padding: 5px;
			top: 10px;
			right: 10px;
		}

		.form_AddDocsModal {
			display: flex;
			flex-direction: column;
			gap: 20px;
			align-items: end;

			.info_field {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 6px;

				h2 {
					color: rgb(25, 25, 27);
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
				}

				.red_Text_model {
					color: red;
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
				}

				@media (max-width: 390px) {

					h2,
					.red_Text_brand,
					.red_Text_model,
					.red_Text_nom {
						font-size: 16px;
					}
				}

				@media (max-width: 350px) {

					h2,
					.red_Text_brand,
					.red_Text_model,
					.red_Text_nom {
						font-size: 14px;
					}
				}

				.text_field {
					display: flex;
					align-items: center;
					padding: 12px 6px 12px 6px;
					box-sizing: border-box;
					border: 1px solid rgb(199, 199, 199);
					border-radius: 8px;
				}

				.file_input {
					display: flex;
					align-items: center;
					gap: 13px;

					.input_doc {
						font-size: 18px;
						font-weight: 500;
						line-height: 120%;
						letter-spacing: 0%;
						text-align: left;
						margin-top: 12px;
						color: #fff;
						// width: 200px;
						padding: 8px 38px 8px 38px;
						border-radius: 8px;
						text-align: center;
						background: rgb(52, 152, 219);
						cursor: pointer;
					}

					.hidden {
						opacity: 0;
						width: 0;
						height: 0;
						line-height: 0;
						overflow: hidden;
						padding: 0;
						margin: 0;
					}

					h2 {
						color: rgb(25, 25, 27);
						font-size: 18px;
						font-weight: 500;
						line-height: 120%;
						letter-spacing: 0px;
						text-align: left;
					}
				}

				@media (max-width: 500px) {
					.file_input {
						width: 100%;
						flex-direction: column;

						.input_doc {
							width: 100%;
						}
					}
				}
			}

			.save_data {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 18px 38px 18px 38px;
				border-radius: 8px;
				background: rgb(52, 152, 219);
				color: rgb(252, 252, 252);
				font-size: 20px;
				font-weight: 500;
				line-height: 120%;
				letter-spacing: 0%;
				text-align: left;
				margin-top: 12px;
				width: 35%;
			}

			@media (max-width: 768px) {
				.save_data {
					width: 100%;
				}
			}

			.error_text {
				color: red;
				font-size: 16px;
				font-weight: 500;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: center;
			}
		}
	}

	@media (max-width: 768px) {
		.card_AddDocsModal {
			width: 90%;

			.closed {
				display: block;
			}
		}
	}
}