.header_top {
    width: 100%;
    height: 40px;
    background-color: #3498DB;
    display: flex;
    align-items: center;

    .navbar {
        width: 1440px;
        margin: 0 auto;

        .box {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .address {
                display: flex;
                align-items: center;
                // min-width: 200px;
                gap: 14px;

                img {
                    width: 12px;
                }

                p {
                    color: rgb(252, 252, 252);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                }
            }

            .mail_address {
                display: flex;
                align-items: center;
                gap: 50px;

                .mail {
                    display: flex;
                    align-items: center;
                    gap: 14px;

                    img {
                        width: 20px;
                    }

                    @media(max-width: 1024px) {
                        img {
                            width: 16px;
                        }
                    }

                    p {
                        color: rgb(252, 252, 252);
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 130%;
                        letter-spacing: 0%;
                        text-align: center;
                    }
                }

                .ikons {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    a {
                        img {
                            width: 20px;
                        }

                        @media(max-width: 1024px) {
                            img {
                                width: 16px;
                            }
                        }

                        p {
                            color: rgb(252, 252, 252);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 130%;
                            letter-spacing: 0%;
                            text-align: center;
                        }
                    }

                }
            }

            @media(max-width: 1024px) {
                .address {

                    p {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                .mail_address {
                    gap: 14px;

                    .mail {
                        min-width: 130px;

                        p {
                            font-size: 13px;
                        }
                    }

                    .ikons {
                        min-width: 85px;

                        img {
                            width: 17px;
                        }
                    }
                }
            }

            @media(max-width: 834px) {
                .address {
                    min-width: 160px;

                    p {
                        font-size: 11px;
                        font-weight: 400;
                    }
                }

                .mail_address {
                    min-width: 230px;

                    .mail {
                        min-width: 130px;

                        p {
                            font-size: 12px;
                        }
                    }

                    .ikons {
                        min-width: 85px;

                        img {
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1440px) {
    .navbar {
        width: 100%;
        // background-color: rgb(11, 70, 70);

    }
}