.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    // align-items: center;
    // justify-content: space-between;
}

.cardBlue {
    max-width: 33%;
    max-height: 680px;
    padding: 5.70% 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    background: rgb(52, 152, 219);
    gap: 20;

    h2 {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .money {
        display: flex;
        margin-bottom: 30px;
        width: 100%;
        height: 80px;

        // justify-content: center;
        // margin-left: 40px;

        p {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }

        .price {
            color: rgb(255, 255, 255);
            font-size: 58px;
            font-weight: 700;
            line-height: 70px;
            letter-spacing: -1px;
            text-align: center;
            margin-right: 15px;
        }

        .description {
            display: flex;
            flex-direction: column;
            // justify-content: space-evenly;
            // align-items: center;
            margin-top: 15px;
            width: 100%;


            p {
                color: rgb(255, 255, 255);
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: left;
                width: 100%;
            }
        }
    }

    .descriptionTwo {
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 40px;
        width: 100%;

    }

    .advantages {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;

        p {
            margin-left: 10px;
            color: rgba(255, 255, 255, 0.7);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }

        h6 {
            color: #ffffff;
            font-size: 26px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    h3 {
        color: rgb(255, 255, 255);
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
    }

    button {
        width: 130px;
        height: 40px;
        display: flex;
        padding: 18px;
        // padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #ffffff;
        color: rgb(52, 152, 219);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }

}



.card {
    max-width: 33%;
    max-height: 630px;
    padding: 5.70% 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    margin-top: 20px;
    gap: 20;


    h2 {
        color: rgb(25, 25, 27);
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .money {
        display: flex;
        margin-bottom: 30px;
        width: 100%;
        height: 80px;

        // justify-content: center;
        // margin-left: 40px;

        p {
            color: rgb(25, 25, 27);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }

        .price {
            color: rgb(25, 25, 27);
            font-size: 58px;
            font-weight: 700;
            line-height: 70px;
            letter-spacing: -1px;
            text-align: center;
            margin-right: 15px;
        }

        .description {
            display: flex;
            flex-direction: column;
            // justify-content: space-evenly;
            // align-items: center;
            margin-top: 15px;
            width: 100%;


            p {
                color: rgb(25, 25, 27);
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: left;
                width: 100%;
            }
        }
    }

    .descriptionTwo {
        color: rgb(25, 25, 27);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 40px;
        width: 100%;

    }

    .advantages {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;

        p {
            margin-left: 10px;
            color: rgba(25, 25, 27, 0.7);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }

        h6 {
            color: #3498DB;
            font-size: 26px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    h3 {
        color: rgb(25, 25, 27);
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
    }

    button {
        width: 130px;
        height: 40px;
        display: flex;
        padding: 18px;
        // padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #3498DB;
        color: rgb(252, 252, 252);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }
}



// .card:hover {
//     background-color: #3498DB;

//     p,
//     h2,
//     h3,
//     h6,
//     .price {
//         color: #fff;
//     }


.cardTwo {
    max-width: 33%;
    max-height: 630px;
    padding: 5.70% 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    margin-top: 20px;
    gap: 20;


    h2 {
        color: rgb(25, 25, 27);
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .money {
        display: flex;
        margin-bottom: 30px;
        width: 100%;
        height: 80px;

        // justify-content: center;
        // margin-left: 40px;

        p {
            color: rgb(25, 25, 27);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }

        .price {
            color: rgb(25, 25, 27);
            font-size: 58px;
            font-weight: 700;
            line-height: 70px;
            letter-spacing: -1px;
            text-align: center;
            margin-right: 15px;
        }

        .description {
            display: flex;
            flex-direction: column;
            // justify-content: space-evenly;
            // align-items: center;
            margin-top: 15px;
            width: 100%;


            p {
                color: rgb(25, 25, 27);
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: left;
                width: 100%;
            }
        }
    }

    .descriptionTwo {
        color: rgb(25, 25, 27);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 40px;
        width: 100%;

    }

    .advantages {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;

        p {
            margin-left: 10px;
            color: rgba(25, 25, 27, 0.7);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }

        h6 {
            color: #3498DB;
            font-size: 26px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    h3 {
        color: rgb(25, 25, 27);
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
    }

    button {
        width: 130px;
        height: 40px;
        display: flex;
        padding: 18px;
        // padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #3498DB;
        color: rgb(252, 252, 252);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }
}

//     .description {
//         p {
//             color: #fff;

//         }
//     }

//     button {
//         background-color: #FCFCFC;
//         color: #3498DB;
//     }
// }

@media(max-width: 1024px) {
    .container {
        justify-content: space-between;
    }

    .cardBlue {
        display: none;
    }

    .card {
        max-width: 49%;
        padding: 5.70% 86;

        .money {
            margin-left: 90px;

            .description {
                width: 100%;

                p {
                    width: 100%;
                }
            }
        }


    }

    .cardTwo {
        max-width: 49%;
        padding: 5.70% 86;

        .money {
            margin-left: 90px;

            .description {
                width: 100%;

                p {
                    width: 100%;
                }
            }
        }


    }
}

@media(max-width: 768px) {
    .container {
        justify-content: center;

        .card {
            max-width: 400px;

            .money {
                width: 300px;
            }
        }

        .cardTwo {
            display: none;
        }
    }
}


@media(max-width:500px) {
    .container {

        .card {
            max-width: 100%;

            .money {
                width: 100%;
                margin-left: 100px;
            }
        }
    }


}


// @media(max-width: 500px) {
//     .card {
//         max-width: 343px;
//         padding: 75px 52px;
//     }
// }