.Output {
    width: 80%;
    height: 100%;
}


@media(max-width: 1200px) {
    .Output {
        width: 72%;
    }
}

@media(max-width: 1024px) {
    .Output {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}