.box {
    width: 1440px;
    margin: 70px auto 70px auto;
}

@media(max-width: 1440px) {
    .box {
        width: 100%;

    }
}

@media(max-width: 1024px) {
    .box {
        width: 100%;
        margin: 40px auto 70px auto;
    }
}

@media(max-width: 768px) {
    .box {
        width: 100%;
        margin: 30px auto 70px auto;

    }
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.profileDisplay {
    display: flex;
    width: 100%;

    .nameImg {
        width: 300px;

        .profileImg {
            width: 100%;
            height: 274px;
            border-radius: 15px;
        }
    }

    @media(max-width:768px) {
        .nameImg {
            width: 300px;

            .profileImg {
                width: 100%;
                border-radius: 15px;
            }
        }
    }

    @media(max-width:350px) {
        .nameImg {
            width: 100%;
        }
    }


    .nameDiv {
        margin-left: 20px;
        width: 61%;


        h1 {
            color: rgb(0, 0, 0);
            font-size: 28px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: left;
            padding-bottom: 30px;
        }


    }

    .spans {
        padding-bottom: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;

        .not_active {
            font-size: 40px;
            color: #fff;
            -webkit-text-stroke: 1px #000;
            // padding-top: 30px;
            cursor: pointer;
        }

        .active_stae {
            font-size: 40px;
            color: #000;
            // padding-top: 30px;
            -webkit-text-stroke: 1px #000;
            cursor: pointer;
        }

        button {
            background-color: rgb(52, 152, 219);
            color: #fff;
            width: 70px;
            height: 25px;
            border-radius: 10px;
            // color: #fff;
            padding: 0 20px;
        }
    }

    @media(max-width:768px) {
        .spans {
            width: 100%;
            gap: 15px;

            .not_active {
                font-size: 30px;
            }

            .active_stae {
                font-size: 30px;
            }
        }
    }

    @media(max-width:768px) {
        .spans {
            width: 100%;
            gap: 15px;

            .not_active {
                font-size: 30px;
            }

            .active_stae {
                font-size: 30px;
            }
        }
    }

    .otzyv {
        display: flex;
        margin-bottom: 30px;

        input {
            width: 180px;
            height: 40px;
            border: 1px solid rgb(52, 152, 219);
            border-radius: 10px;
            padding-left: 10px;
            margin-right: 20px;
        }

        button {
            width: 90px;
            height: 40px;
            border: 1px solid rgb(52, 152, 219);
            border-radius: 10px;
            // background-color: #fff;
        }
    }

    .bottom {
        max-height: 50px;
        // background-color: rgb(255, 255, 255);/
        transition: all 2s;
        overflow: hidden;

    }


    .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;


        .top_comments {
            width: 100%;
            display: flex;
            justify-content: space-between;
            // background-color: rgb(255, 255, 255);/
            height: 50px;
            // position: relative;
            // position: absolute;

            h2 {
                color: rgb(0, 0, 0);
                font-size: 24px;
                font-weight: 600;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: center;
                // position: absolute;

            }

            img {
                // padding-top: 7px;
                width: 25px;
                height: 30px;
                cursor: pointer;
            }
        }





    }

    .close_bottom {
        width: 100%;
        max-height: 500px;
        // background-color: rgb(255, 255, 255);
        transition: all 2s;
        overflow-y: auto;

        .top_comments {
            width: 100%;
            display: flex;
            justify-content: space-between;
            // background-color: rgb(255, 255, 255);/
            height: 50px;
            // position: relative;
            // position: absolute;

            h2 {
                color: rgb(0, 0, 0);
                font-size: 24px;
                font-weight: 600;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: center;
                // position: absolute;

            }

            img {
                // padding-top: 7px;
                width: 25px;
                height: 30px;
                cursor: pointer;
                transform: rotate(180deg);

            }
        }

    }
}

@media(max-width:768px) {
    .profileDisplay {
        flex-direction: column;
        gap: 20px;
    }
}

.open {
    width: 500px;
    max-height: 400px;
    border-radius: 10px solid red;
    margin-top: 100px;

    p {
        font-size: 30px;
        margin-bottom: 30px;

    }
}



.zakaz {
    h2 {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 70px;
        padding-bottom: 40px;

    }


}

.FiveP {
    display: flex;
    // margin: 15px 0 15px 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 16px 16px 0px 0px;

    /* Аccent */
    background: rgb(52, 152, 219);

    p {
        width: 24%;
        color: rgb(252, 252, 252);
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: center;
    }
}

.ul {
    height: 800px;
    overflow-y: auto;
    padding-right: 10px;
    width: 100%;

    .map {
        width: 100%;
        height: 120px;
        border-radius: 10px;
        background: #EDEDED;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .mapdd {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .firstDiv {
                display: flex;
                width: 60%;

                .mapdd {
                    display: flex;
                    flex-direction: column;
                }

                div {
                    flex: 0 0 33%;
                    text-align: center;

                }
            }

            .secondDiv {
                display: flex;
                width: 40%;


                div {
                    flex: 0 0 50%;
                    text-align: center;
                }
            }

            @media(max-width:768px) {
                .firstDiv {
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    div {
                        font-size: 16px;
                        text-align: left;

                    }
                }

                .secondDiv {
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    div {
                        font-size: 16px;
                        text-align: left;

                    }
                }
            }

            @media(max-width:400px) {
                .firstDiv {
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    div {
                        font-size: 12px;
                        text-align: left;

                    }
                }

                .secondDiv {
                    flex-direction: column;
                    gap: 5px;

                    div {
                        font-size: 12px;
                        text-align: left;

                    }
                }
            }
        }

    }

    .mapBlack {
        width: 100%;
        height: 120px;
        border-radius: 10px;
        margin-bottom: 30px;
        background: #F6F6F6;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .mapdd {
            width: 100%;
            display: flex;
            // justify-content: space-around;
            align-items: center;
            justify-content: center;

            .firstDiv {
                display: flex;
                width: 60%;

                div {
                    flex: 0 0 33%;
                    text-align: center;
                }

                .mapdd {
                    display: flex;
                    flex-direction: column;
                }
            }

            .secondDiv {
                display: flex;
                width: 40%;

                div {
                    flex: 0 0 50%;
                    text-align: center;
                }

            }

            @media(max-width:768px) {
                .firstDiv {
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    div {
                        font-size: 16px;
                        text-align: left;
                    }
                }

                .secondDiv {
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    div {
                        font-size: 16px;
                        text-align: left;

                    }
                }
            }

            @media(max-width:400px) {
                .firstDiv {
                    flex-direction: column;
                    gap: 5px;

                    div {
                        font-size: 12px;
                        text-align: left;

                    }
                }

                .secondDiv {
                    flex-direction: column;
                    gap: 5px;

                    div {
                        font-size: 12px;
                        text-align: left;

                    }
                }
            }
        }
    }

    @media(max-width:768px) {

        .mapBlack,
        .map {
            height: 180px;
        }
    }
}

@media(max-width:950px) {
    .open {
        width: 400px;
        max-height: 200px;
        border-radius: 10px solid red;
        margin-top: 20px;

        p {
            font-size: 20px;
            margin-bottom: 30px;

        }
    }

    .profileDisplay {
        .close_bottom {
            height: 300px;
            // background-color: rgb(255, 255, 255);
            transition: all 2s;
            overflow-y: auto;

        }
    }
}

@media(max-width:730px) {
    .open {
        width: 300px;
        height: 200px;
        border-radius: 10px solid red;
        margin-top: 100px;

        p {
            font-size: 15px;
            margin-bottom: 30px;

        }

    }

    .profileDisplay {
        .close_bottom {
            height: 300px;
            // background-color: rgb(255, 255, 255);
            transition: all 2s;
            overflow-y: auto;

        }
    }

}

@media(max-width:550px) {
    .open {
        width: 200px;
        height: 250px;
        border-radius: 10px solid red;
        margin-top: 100px;

        p {
            font-size: 15px;
            margin-bottom: 30px;

        }
    }

    .profileDisplay {
        .close_bottom {
            height: 300px;
            // background-color: rgb(255, 255, 255);
            transition: all 2s;
            overflow-y: auto;

        }
    }
}

@media(max-width:768px) {
    .FiveP {

        p {
            display: none;
        }
    }
}

@media(max-width:768px) {
    .profileDisplay {
        .nameDiv {
            width: 100%;
            margin: 0;
        }

        .bottom,
        .close_bottom {
            width: 100%;
            display: flex;
            flex-direction: column;


            .top_comments {
                width: 100%;
                display: flex;
                justify-content: space-between;
                // background-color: rgb(255, 255, 255);
                height: 50px;
                // position: absolute;

                h2 {
                    color: rgb(0, 0, 0);
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                    // position: absolute;
                }

                img {
                    // padding-top: 7px;
                    // position: absolute;
                    // right: 0px;
                }
            }





        }
    }
}

@media(max-width:640px) {
    .profileDisplay {
        width: 100%;

        .nameDiv {
            width: 100%;
        }

        .bottom,
        .close_bottom {
            width: 100%;
            display: flex;
            flex-direction: column;


            .top_comments {
                width: 100%;
                display: flex;
                justify-content: space-between;
                // background-color: rgb(255, 255, 255);
                height: 50px;

                h2 {
                    color: rgb(0, 0, 0);
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                }

                img {}
            }
        }
    }
}



@media(max-width:768px) {
    .ul {
        .mapdd {
            padding: 20px;

        }
    }

    .FiveP {
        p {
            display: none;
        }
    }
}

.phone {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;

    .phoneDiv {
        display: flex;

        img {
            width: 30px;
            height: 30px;
        }

        a {
            padding-top: 5px;
            padding-left: 10px;
            font-size: 20px;
            color: black;
        }
    }

    .co {
        display: flex;

        a {

            img {
                width: 30px;
                margin: 10px;
            }
        }
    }

}