.box {
    width: 1440px;
    margin: 70px auto 0 auto;
}

@media(max-width: 1440px) {
    .box {
        width: 100%;

    }
}

@media(max-width: 1024px) {
    .box {
        width: 100%;
        margin: 40px auto 0px auto;
    }
}

@media(max-width: 768px) {
    .box {
        width: 100%;
        margin: 30px auto 0px auto;

    }
}

.container {
    max-width: 90%;
    margin: 0 auto;

    .errorDiv {

        display: flex;
        justify-content: center;

        .error_text {
            font-size: 30px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: center;
            padding-bottom: 20px;
            color: red;
        }
    }


    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.aaa {

    width: 100%;
    // background: #ffffff;
    margin-bottom: 30px;
    transition: 1s;
}

.aaa {

    .title {
        padding: 120px 0 32px 0;
        width: 300px;
    }

    .column {
        display: flex;
        flex-direction: column;
        width: 50%;

        .title {
            width: 100%;
            font-size: 30px;

            @media(max-width:1024px) {
                font-size: 26px;
            }


        }

        p {
            color: rgb(25, 25, 27);

            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 20px;
        }

        .pod {
            color: rgb(52, 152, 219);
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            cursor: pointer;
        }
    }
}

.imgAAA {
    width: 50%;

    img {
        width: 100%;
        height: 375px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
    }

}

.bbb {

    height: 100%;
    background: #ffffff;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    transition: 1s;

    // overflow-y: scroll;
    .column {
        display: flex;
        flex-direction: column;
        width: 50%;

        .title {
            font-size: 32px;
        }

        p {
            color: rgb(25, 25, 27);
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
        }

        .pod {
            color: rgb(52, 152, 219);
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            cursor: pointer;

        }

    }
}

.bbb img {
    height: 209px;
    width: 30%;
    border-radius: 20px;

    object-fit: cover;
    object-position: center;
}

.bbb div {
    justify-content: left;
    // padding-top: 50px;
}

.bbb {
    .title {
        padding-top: 85px;

    }
}



.display {
    display: flex;
    gap: 100px;
}

.display p {
    color: #000;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.opis {
    color: #000;
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    padding-top: 30px;

    .title_news {
        color: rgb(25, 25, 27);
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 20px;
        height: 55px;
    }

    .news_img {
        margin: 0 0 30px 50px;
    }

    .text {
        color: rgb(25, 25, 27);
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 20px;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.www {
    margin: 0;
    padding: 0;
    display: flex;

    img {
        float: right;
        object-fit: cover;
        object-position: center;
    }

}

@media(max-width:1920px) {
    .mobile {
        display: none;
    }
}

@media(max-width:768px) {
    .aaa {
        .display {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            .imgAAA {
                width: 100%;

                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 20px;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .column {
                display: flex;
                flex-direction: column;
                width: 100%;
                // align-items: center;

                .title {
                    width: 100%;
                    font-size: 30px;
                    padding: 35px 0 35px 0;
                }

                p {
                    color: rgb(25, 25, 27);

                    font-size: 20px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: left;
                    padding-bottom: 20px;
                }

                .pod {
                    color: rgb(52, 152, 219);
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: left;
                    cursor: pointer;
                }
            }

        }

        // .title {
        //     padding: 120px 0 32px 0;
        //     width: 300px;
        // }

        .column {
            display: flex;
            flex-direction: column;
            width: 50%;

            .title {
                font-size: 30px;
            }

            p {
                color: rgb(25, 25, 27);

                font-size: 20px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: left;
                padding-bottom: 20px;
            }

            .pod {
                color: rgb(52, 152, 219);
                font-size: 20px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: left;
                cursor: pointer;
            }
        }
    }

    .display P {
        color: rgb(25, 25, 27);
        font-size: 38px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
    }


    .opis {
        display: none;

    }

    .mobile {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
            width: 100%;
            height: 300px;
            border-radius: 20px;
            object-fit: cover;
            object-position: center;
        }

        h2 {
            color: rgb(25, 25, 27);
            font-size: 32px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            padding: 25px 0 35px 0;
        }

        p {
            color: rgb(25, 25, 27);
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    .aaa img {
        // height: 300px;
        object-fit: cover;
        object-position: center;
    }
}


@media(max-width:870px) {
    .display {
        display: flex;
        gap: 40px;
    }

    .imgAAA {
        width: 45%;
        object-fit: cover;

        img {
            width: 300px;
            height: 245px;
            object-fit: cover;
            object-position: center;
        }

    }



    .aaa {
        .title {
            padding-top: 70px;
        }

        .column {
            p {
                font-size: 15px;
            }

            .pod {
                font-size: 15px;

            }
        }
    }
}

@media(max-width:650px) {


    .imgAAA {
        width: 45%;

        img {
            width: 220px;
            height: 255px;
            object-fit: cover;
            object-position: center;
        }

    }

    .aaa {
        .title {
            padding-top: 30px;
            width: 130px;
        }

        .column {
            p {
                font-size: 10px;
            }

            .pod {
                font-size: 10px;

            }
        }
    }
}

@media(max-width:500px) {

    .imgAAA {
        width: 45%;

        img {
            width: 190px;
            height: 255px;
            object-fit: cover;
            object-position: center;
        }

    }


}

@media(max-width:380px) {
    .imgAAA {
        width: 45%;

        img {
            width: 170px;
            height: 235px;
            object-fit: cover;
            object-position: center;
        }

    }
}