.NavigateInPA_open {
    width: 24%;
    margin-left: -70px;
    height: 1410px;

    .icon_menu {
        display: none;
    }

    .avatar {
        display: none;
    }

    .navigate_P_Area {
        width: 100%;
        height: 100%;
        border-radius: 0px 16px 16px 0px;
        box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
        background: rgb(255, 255, 255);
        padding: 70px 0 70px 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .arrey {
            display: none;
        }

        .closed {
            display: none;
        }

        .navigate_PA {
            width: 100%;
            height: 245px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;

            .menu_PA {
                color: rgb(0, 0, 0);
                font-size: 18px;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0%;
                list-style: none;
                cursor: pointer;
            }

            .aсvtive {
                color: #3498DB;
                font-size: 20px;
                font-weight: 600;
            }
        }

        .goOut {
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .enter_go_out {
                color: rgb(0, 0, 0);
                font-size: 18px;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: 0%;
            }
        }
    }
}

@media(max-width: 1200px) {
    .NavigateInPA_open {
        width: 33%;
    }
}

@media(max-width: 1024px) {
    .NavigateInPA_open {
        width: 0;
        margin-left: 0;
        z-index: 1000;

        .navigate_P_Area {
            width: 40%;
            margin-left: -70px;
            position: relative;
            position: absolute;
            animation: navigate_P_Area 0.3s ease-in normal none 1 running;

            .arrey {
                display: block;
                position: absolute;
                top: 15px;
                right: 25px;
                padding: 10px;
                transition: all 1s;
            }
        }

        @keyframes navigate_P_Area {
            0% {
                right: 101%;
            }

            100% {
                right: 65%;
            }
        }

        .close_window {
            position: absolute;
            top: 0;
            right: 101%;
            animation: close_window 1s ease-in normal none 1 running;

            .menu_PA {
                display: none;
            }

            .arrey {
                transform: rotate(180deg);
                // transition: all 1s;
                top: 5px;
                right: 5px;
            }

            @keyframes close_window {
                0% {
                    right: 70%;
                }

                100% {
                    right: 105%;
                }
            }


        }

        .NavigateInPA_close {
            width: 0;

            .close_window {
                width: 320px;
            }
        }
    }
}

@media(max-width: 768px) {
    .NavigateInPA_open {
        width: 100%;
        height: 50px;
        position: relative;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon_menu {
            display: block;
        }

        .avatar {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
        }

        .navigate_P_Area {
            width: 210px;
            height: 300px;
            margin-left: 0;
            position: relative;
            position: absolute;
            top: 0;
            left: 0;
            padding: 24px 12px;
            border-radius: 14px;
            box-shadow: 2px 2px 6.1px 0px rgba(0, 0, 0, 0.25);
            gap: 20px;
            animation: navigate_P_Area 0.3s ease-in normal none 1 running;
            z-index: 1000;

            .closed {
                display: block;
                position: absolute;
                top: 5px;
                right: 5px;
                padding: 5px;
            }

            .arrey {
                display: none;
            }

            .navigate_PA {
                .menu_PA {
                    font-size: 16px;
                }

                .aсvtive {
                    font-size: 17px;
                }
            }
        }

        @keyframes navigate_P_Area {
            0% {
                left: -250px;
            }

            100% {
                left: 0;
            }
        }

        .close_window {
            display: none;
        }
    }
}