.WhenCard {
    display: flex;

    .title_when {
        width: 140px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: start;

        span {
            font-size: 18px;
            color: rgb(254, 94, 29);

        }
    }

    .input_field {
        display: flex;
        gap: 13px;

        .readiness {
            width: 250px;
            display: flex;
            align-items: center;
            padding: 6px;
            box-sizing: border-box;
            border: 1px solid rgb(199, 199, 199);
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            padding-right: 50px;
            appearance: none;
            background-color: #fff;
            background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .5em top 50%, 0 0;
            background-size: .65em auto, 100%;
        }

        .date_when {
            width: 160px;
            display: flex;
            align-items: center;
            padding: 6px;
            box-sizing: border-box;
            border: 1px solid rgb(199, 199, 199);
            border-radius: 8px;
            color: rgb(199, 199, 199);
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            color: #000;
            background-color: #fff;
        }

        .errorText {
            border: 2px solid red;
        }
    }
}

@media(max-width: 768px) {
    .WhenCard {
        flex-direction: column;
        gap: 12px;

        .input_field {
            flex-direction: column;
            gap: 12px;
        }
    }
}