.AddCarModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;

  .card_AddCarModal {
    width: 650px;
    max-height: calc(100vh - 200px);
    background-color: #fff;
    border-radius: 16px;
    overflow-y: auto;
    padding: 32px;
    position: relative;
    overflow-y: auto;
    cursor: default;

    .closed {
      display: none;
      position: absolute;
      font-size: 25px;
      padding: 5px;
      top: 10px;
      right: 10px;
    }

    .form_AddCarModal {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .file_dowload {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        h2 {
          color: rgb(0, 0, 0);
          font-size: 22px;
          font-weight: 400;
          line-height: 130%;
          letter-spacing: 0%;
          text-align: center;
        }

        @media (max-width: 390px) {
          h2 {
            font-size: 18px;
          }
        }

        @media (max-width: 350px) {
          h2 {
            font-size: 16px;
          }
        }

        .pictures {
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 7px;
          box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
          background: rgb(255, 255, 255);
          position: relative;
          cursor: pointer;

          .hidden {
            opacity: 0;
            width: 0;
            height: 0;
            line-height: 0;
            overflow: hidden;
            padding: 0;
            margin: 0;
          }

          .input_file {
            width: 100%;
            height: 100%;
            padding-left: 80px;
            bottom: 0;
            left: 0;
            position: absolute;
          }
        }
      }

      .info_field {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;

        h2 {
          color: rgb(25, 25, 27);
          font-size: 18px;
          font-weight: 500;
          line-height: 120%;
          letter-spacing: 0px;
          text-align: left;
        }

        .red_Text_brand,
        .red_Text_model,
        .red_Text_nom {
          color: red;
          font-size: 18px;
          font-weight: 500;
          line-height: 120%;
          letter-spacing: 0px;
          text-align: left;
        }

        @media (max-width: 390px) {

          h2,
          .red_Text_brand,
          .red_Text_model,
          .red_Text_nom {
            font-size: 16px;
          }
        }

        @media (max-width: 350px) {

          h2,
          .red_Text_brand,
          .red_Text_model,
          .red_Text_nom {
            font-size: 14px;
          }
        }

        input {
          display: flex;
          align-items: center;
          padding: 12px 6px 12px 6px;
          box-sizing: border-box;
          border: 1px solid rgb(199, 199, 199);
          border-radius: 8px;

          button {
            width: 100px;
          }
        }

        select {
          display: flex;
          align-items: center;
          padding: 12px 6px 12px 6px;
          box-sizing: border-box;
          border: 1px solid rgb(199, 199, 199);
          border-radius: 8px;
          cursor: pointer;
          appearance: none;
          background-color: #fff;
          background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
          background-repeat: no-repeat, repeat;
          background-position: right .7em top 50%, 0 0;
          background-size: .65em auto, 100%;
        }
      }

      .save_data {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 38px 18px 38px;
        border-radius: 8px;
        background: rgb(52, 152, 219);
        color: rgb(252, 252, 252);
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 12px;
        width: 35%;
      }

      @media (max-width: 768px) {
        .save_data {
          width: 100%;
        }
      }

      .error_text {
        color: red;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
      }
    }
  }

  @media (max-width: 768px) {
    .card_AddCarModal {
      width: 90%;

      .closed {
        display: block;
      }
    }
  }
}