	.SuccesfullCreation {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		z-index: 2000;
		// background-color: #00000033;

		.box {
			padding: 64px 32px;
			border-radius: 16px;
			background-color: #3498db;
			position: relative;
			cursor: default;

			.closed {
				display: none;
			}

			.title_text {
				color: rgb(255, 255, 255);
				font-size: 30px;
				font-weight: 400;
				line-height: 19px;
				letter-spacing: 0%;
				text-align: center;
			}
		}

		.NotSuccessfull {
			padding: 64px 32px;
			border-radius: 16px;
			background-color: #fff;
			position: relative;

			.closed {
				display: none;
			}

			.textError {
				color: rgb(255, 0, 0);
				width: 250px;
				font-size: 20px;
				font-weight: 400;
				line-height: 19px;
				letter-spacing: 0%;
				text-align: center;
			}
		}

		@media (max-width: 768px) {

			.box,
			.NotSuccessfull {

				.closed {
					display: block;
					position: absolute;
					top: 5px;
					right: 5px;
					font-size: 30px;
					color: #fff;
					padding: 3px;
					z-index: 200;
				}

				.title_text {
					font-size: 20px;
				}

				.title_text {
					font-size: 20px;
				}
			}

			@media (max-width: 360px) {

				.box,
				.NotSuccessfull {
					width: 90%;
				}
			}
		}
	}

	.backr {
		background-color: #0000005d;
	}