.not_found {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;

    .box {
        max-width: 650px;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
            width: 100%;
            color: rgb(33, 33, 33);
            text-align: center;
            font-family: 'Fredoka', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 139.4%;
            letter-spacing: 0.36px;
        }
    }

    @media(max-width: 720px) {
        .box {
            width: 343px;
            height: 280px;

            img {
                width: 294px;
                height: 175px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    @media(max-width: 450px) {
        .box {
            width: 300px;
            height: 240px;

            img {
                width: 254px;
                height: 145px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 1440px) {
    .not_found {
        width: 100%;
    }
}