.DetailCar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .card_car_detail {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: space-between;


        .detail_info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .info_personal {
                display: flex;
                gap: 20px;

                h2 {
                    width: 152px;
                    color: rgb(25, 25, 27);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: left;
                }

                p {
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }

            .info_pers_file {
                display: flex;
                flex-direction: column;

                h2 {
                    color: rgb(25, 25, 27);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: left;
                }

                .file_input {
                    display: flex;
                    align-items: center;

                    .input_doc {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 120%;
                        letter-spacing: 0%;
                        text-align: left;
                        margin-top: 12px;
                        color: #fff;
                        // width: 200px;
                        padding: 8px 38px 8px 38px;
                        border-radius: 8px;
                        text-align: center;
                        background: rgb(52, 152, 219);
                        cursor: pointer;
                    }

                    @media(max-width: 400px) {
                        .input_doc {
                            width: 100%;
                        }
                    }

                    .hidden {
                        opacity: 0;
                        width: 0;
                        height: 0;
                        line-height: 0;
                        overflow: hidden;
                        padding: 0;
                        margin: 0;
                    }

                    h2 {
                        color: rgb(25, 25, 27);
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 120%;
                        letter-spacing: 0px;
                        text-align: left;
                    }
                }
            }
        }

        .detail_img {
            width: 334px;
            height: 350px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 7px;
            }
        }
    }

    @media(max-width: 768px) {
        .card_car_detail {
            flex-direction: column-reverse;
            gap: 20px;

            .detail_img {
                width: 240px;
                height: 150px;
            }
        }
    }

    @media(max-width: 360px) {
        .card_car_detail {
            .detail_img {
                width: 100%;
            }
        }
    }

    .deleted_btn {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px;

        & .deleted_car {
            font-size: 18px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0%;
            text-align: left;
            color: #fff;
            // width: 200px;
            padding: 8px 38px 8px 38px;
            border-radius: 8px;
            text-align: center;
            background: rgb(52, 152, 219);
        }


    }

    @media(max-width: 600px) {
        .deleted_btn {
            flex-direction: column;

            & button {
                width: 100%;
            }
        }
    }

    .output_docs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .blue_bg {
            width: 100%;
            height: 40px;
            background: rgb(52, 152, 219);
            border-radius: 16px 16px 0px 0px;
        }

        .docs_card {
            width: 100%;
            // height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px;

            .card_docs {
                display: flex;
                align-items: center;
                gap: 40px;

                & h3 {
                    color: rgb(25, 25, 27);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: left;
                }

                & img {
                    width: 100px;
                    border-radius: 5px;
                }

                @media(max-width: 350px) {
                    & img {
                        width: 50%;
                    }
                }
            }

            .deleted {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        @media (max-width: 768px) {
            .docs_card {
                .card_docs {
                    gap: 30px;

                    img {
                        width: 130px;
                    }
                }

                .deleted {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        @media (max-width: 420px) {
            .docs_card {
                .card_docs {
                    gap: 20px;

                    img {
                        width: 100px;
                    }

                    h3 {
                        font-size: 14px;
                    }
                }

                .deleted {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        @media (max-width: 380px) {
            .docs_card {
                .card_docs {
                    gap: 20px;

                    img {
                        width: 70px;
                    }
                }

                .deleted {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        .before {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 120px;
            color: rgb(0, 0, 0);
            font-size: 22px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: center;
        }

        @media (max-width: 400px) {
            .before {
                font-size: 18px;
            }
        }
    }
}