.disk {
    width: 100%;
}

.displayFlex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;

    .carsSearch {
        color: rgb(0, 0, 0);
        font-size: 32px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;

        @media(max-width:768px) {
            font-size: 26px;
        }
    }

    .sel {
        display: flex;
        align-items: center;

        p {
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 2px;
            // text-align: left;
            text-transform: uppercase;


        }


        select {
            margin-left: 5px;
            width: 220px;
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 2px;
            // text-align: left;
            text-transform: uppercase;
            border: 1px solid#FCFCFC;
            appearance: none;
            background-color: #fff;
            background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .5em top 50%, 0 0;
            background-size: .65em auto, 100%;

            option {
                font-size: 14px;
                font-weight: 300;
                line-height: 26px;
                letter-spacing: 2px;
                // text-align: left;
                text-transform: uppercase;
                font-family: 'Inter', sans-serif;
                border: none;
            }
        }

        @media(max-width:450px) {
            p {
                font-size: 10px;

            }

            select {
                font-size: 10px;
                width: 180px;

                option {
                    font-size: 10px;
                }
            }
        }

        @media(max-width:350px) {
            p {
                font-size: 8px;

            }

            select {
                font-size: 8px;
                width: 150px;

                option {
                    font-size: 8px;
                }
            }
        }

    }
}

@media(max-width:768px) {
    .displayFlex {
        flex-direction: column;
        gap: 20px;
    }
}


.display {
    display: flex;


    button {
        margin-top: 18px;
        width: 20px;
        height: 10px;
    }



    .span {
        margin-top: 15px;
        background: rgb(159, 159, 159);
        width: 20px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }

    .spanNext {
        margin-top: 15px;

        // background: rgb(159, 159, 159);
        width: 20px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }

    .spanNextTwo {
        width: 20px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 15px;


    }

    .spanNextThree {
        width: 20px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 15px;

    }


}

.FiveP {
    display: flex;
    // margin: 15px 0 15px 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 16px 16px 0px 0px;

    /* Аccent */
    background: rgb(52, 152, 219);

    p {
        width: 24%;
        color: rgb(252, 252, 252);
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: center;
    }
}

.ul {
    max-height: 800px;
    overflow-y: auto;
    padding-right: 10px;
    width: 100%;
    padding-top: 30px;

    @media(max-width:768px) {
        padding-top: 20px;
    }
}

.mapp {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background: rgb(248, 248, 248);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
    }
}

.map_blackk {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
    }
}

::-webkit-scrollbar {
    width: 10px;

}


::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.534);
    border-radius: 4px;

}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgb(52, 152, 219);
    width: 5px;
}

@media(max-width:768px) {
    .ul {

        .mapdd {
            padding: 20px;

        }
    }

    .FiveP {
        p {
            display: none;
        }
    }

}