.box {
    width: 1440px;
    margin: 70px auto 0 auto;
}

@media(max-width: 1440px) {
    .box {
        width: 100%;

    }
}

@media(max-width: 1024px) {
    .box {
        width: 100%;
        margin: 40px auto 0px auto;
    }
}

@media(max-width: 768px) {
    .box {
        width: 100%;
        margin: 30px auto 0px auto;

    }
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.disColumn {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.cargoSearch {
    display: flex;
    margin-bottom: 70px;

    h1 {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
    }
}

@media(max-width:1024px) {
    .cargoSearch {
        margin-bottom: 40px;
    }
}

@media(max-width:768px) {
    .cargoSearch {
        margin-bottom: 30px;
    }
}

.map {
    display: flex;
    flex-direction: column;
    width: 100%;

    .mapLeft {
        width: 97%;
        display: flex;
        flex-direction: column;
        margin-right: 18px;
        margin-bottom: 32px;

        h2 {
            color: rgb(25, 25, 27);
            font-size: 18px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 6px;
        }

        input {
            width: 100%;
            height: 43px;
            box-sizing: border-box;
            /* Grey */
            border: 1px solid rgb(105, 104, 113);
            border-radius: 7px;
            font-size: 16px;
            padding: 5px;
            margin-bottom: 20px;
        }

        .errorRed {
            border: 1px solid red;

        }
    }

    .weightFirst {
        display: flex;
        flex-direction: column;
        width: 97%;
        // margin-right: 18px;
        margin-bottom: 35px;

        h2 {
            color: rgb(25, 25, 27);
            font-size: 18px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 6px;
        }

        div {
            display: flex;
            justify-content: space-between;
        }

        p {
            color: rgb(105, 104, 113);
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-top: 10px;
        }

        input {
            width: 38.43%;
            height: 43px;
            box-sizing: border-box;
            /* Grey */
            border: 1px solid rgb(105, 104, 113);
            border-radius: 7px;
            padding: 5px;
            color: gray;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .type {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 12px;
        width: 97%;

        h2 {
            color: rgb(25, 25, 27);
            font-size: 18px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 6px;


            width: 35%;
            margin-bottom: 6px;
        }

        select {
            width: 100%;
            height: 43px;
            box-sizing: border-box;
            /* Grey */
            border: 1px solid rgb(105, 104, 113);
            border-radius: 7px;
            // color: grey;
            padding: 5px;
            appearance: none;
            background-color: #fff;
            background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;
        }
    }


    .dateFirst {
        display: flex;
        flex-direction: column;
        width: 97%;
        margin-right: 18px;


        div {
            display: flex;
            justify-content: space-between;

        }

        input {
            box-sizing: border-box;
            /* Grey */
            border: 1px solid rgb(105, 104, 113);
            border-radius: 7px;
            width: 33.43%;
            height: 43px;
            padding: 5px;
            color: grey;
            appearance: none;
            background-color: #fff;

        }

        h2 {
            color: rgb(25, 25, 27);
            font-size: 18px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 6px;

        }

        p {
            color: rgb(105, 104, 113);
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-top: 10px;

        }
    }

}




// ==============

.mapTwo {
    display: flex;
    flex-direction: column;
    width: 100%;

    .mapRight {
        width: 97%;
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        h2 {
            color: rgb(25, 25, 27);
            font-size: 18px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 6px;

        }

        input {
            width: 100%;
            height: 43px;
            box-sizing: border-box;
            /* Grey */
            border: 1px solid rgb(105, 104, 113);
            border-radius: 7px;
            font-size: 16px;
            padding: 5px;
            margin-bottom: 20px;

        }

        .errorRed {
            border: 1px solid red;

        }
    }

    .weightSecond {
        display: flex;
        flex-direction: column;
        width: 97%;
        margin-bottom: 35px;

        h2 {
            color: rgb(25, 25, 27);
            font-size: 18px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 6px;
        }

        div {
            display: flex;
            justify-content: space-between;
        }

        p {
            color: rgb(105, 104, 113);
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-top: 10px;
        }

        input {
            width: 33.43%;
            height: 43px;
            padding: 5px;
            box-sizing: border-box;
            /* Grey */
            border: 1px solid rgb(105, 104, 113);
            border-radius: 7px;
            color: gray;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .dateSecond {
        display: flex;
        flex-direction: column;
        width: 97%;

        div {
            display: flex;
            justify-content: space-between;

        }

        select {
            box-sizing: border-box;
            /* Grey */
            border: 1px solid rgb(105, 104, 113);
            border-radius: 7px;
            width: 100%;
            height: 43px;
            padding: 5px;
            // color: grey;
            appearance: none;
            background-color: #fff;
            background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;
        }

        h2 {
            color: rgb(25, 25, 27);
            font-size: 18px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 6px;

        }

        // p {
        //     color: rgb(105, 104, 113);
        //     font-size: 16px;
        //     font-weight: 500;
        //     line-height: 120%;
        //     letter-spacing: 0px;
        //     text-align: left;
        //     margin-top: 10px;

        // }
    }

    .dateThree {
        display: flex;
        flex-direction: column;
        width: 97%;
        padding-top: 37px;

        div {
            display: flex;
            justify-content: space-between;

        }

        select {
            box-sizing: border-box;
            /* Grey */
            border: 1px solid rgb(105, 104, 113);
            border-radius: 7px;
            width: 100%;
            height: 43px;
            padding: 5px;
            // color: grey;
        }

        h2 {
            color: rgb(25, 25, 27);
            font-size: 18px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 6px;

        }
    }
}


.weight {
    display: flex;
    width: 100%;




}

.date {
    display: flex;
    width: 100%;




}




.btnDiv {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 80px;
    margin-top: 20px;
}

.btn {
    border-radius: 8px;

    /* Аccent */
    background: rgb(52, 152, 219);
    width: 16%;
    height: 47px;

    p {
        color: rgb(252, 252, 252);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.errorDiv {
    display: flex;
    justify-content: center;

    p {
        font-size: 30px;
        color: rgb(226, 17, 17);
    }
}


@media(max-width:1024px) {
    .disColumn {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .map {
            width: 100%;

            .mapLeft,
            .weightFirst,
            .type,
            .dateFirst {
                width: 100%;
            }
        }

        .mapTwo {
            width: 100%;

            .pac .mapRight,
            .weightSecond,
            .dateSecond {
                width: 100%;
            }
        }
    }
}

@media(max-width:768px) {
    .disColumn {
        gap: 0px;

        .map {

            .mapLeft,
            .weightFirst,
            .type,
            .dateFirst {
                margin-bottom: 12px;
                margin-top: 0;
                width: 100%;

            }

            .errorRed,
            .inputText {
                width: 100%;
                margin-bottom: 0px;

            }
        }

        .mapTwo {

            .mapLeft,
            .mapRight,
            .weightSecond,
            .dateSecond {
                margin-bottom: 12px;
                margin-top: 0;
                width: 100%;

            }

            .errorRed,
            .inputText {
                margin-bottom: 0px;
                width: 100%;
            }
        }
    }

    .btnDiv {
        width: 100%;
        margin-bottom: 30px;

        .btn {
            width: 100%;
        }
    }
}

@media(max-width:550px) {
    .btn {
        width: 20%;
    }

    .map {
        .type {
            h2 {
                width: 50%;
            }
        }
    }

}

@media(max-width:405px) {
    .map {
        .type {
            h2 {
                width: 60%;
            }
        }
    }
}