.box {
    max-width: 1440px;
    margin: 0 auto;
}

@media(max-width:1440px) {
    .box {
        width: 100%;
    }
}

.column {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;

    h1 {
        color: rgb(0, 0, 0);
        font-size: 36px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 70px;
        padding-top: 70px;
    }

    .display {
        display: flex;
        width: 75%;
        margin: 0 auto;
        justify-content: space-between;
        margin-bottom: 70px;
    }
}



.firstDiv {
    box-sizing: border-box;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 16px;
    background: rgb(52, 152, 219);
    width: 28%;
    padding: 24px 10px;

    h2 {
        color: rgb(252, 252, 252);
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 8px;
    }

    p {
        color: rgb(252, 252, 252);
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.secondDiv {
    box-sizing: border-box;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 16px;
    width: 28%;
    padding: 24px 10px;

    h2 {
        color: rgb(30, 30, 30);
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;


    }

    p {
        color: rgb(105, 104, 113);
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.threeDiv {
    box-sizing: border-box;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 16px;
    background: rgb(52, 152, 219);
    width: 28%;
    padding: 24px 10px;

    h2 {
        color: rgb(252, 252, 252);
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;


    }

    p {
        color: rgb(252, 252, 252);
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }

}



.Tariff {
    width: 1440px;
    margin: 0 auto;
    // background-color: aqua;

    .box {
        width: 90%;
        margin: 0 auto;

        .pTarif {
            color: rgb(0, 0, 0);
            font-size: 36px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 70px;
        }

        @media(max-width:1024px) {
            .pTarif {
                margin-bottom: 40px;
            }
        }

        @media(max-width:768px) {
            .pTarif {
                margin-bottom: 25px;
            }
        }
    }
}

@media(max-width: 1440px) {
    .Tariff {
        width: 100%;
        // background-color: rgb(11, 70, 70);

    }
}

@media(max-width:1024px) {
    .column {
        h1 {
            padding-top: 40px;
            margin-bottom: 40px;
        }

        .display {
            margin-bottom: 40px;
        }
    }

}

@media(max-width: 768px) {
    h1 {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }

    .display {
        display: flex;
        flex-direction: column;
        align-items: center;

        .firstDiv {
            width: 80%;
            margin-bottom: 30px;
        }

        .secondDiv {
            width: 80%;
            margin-bottom: 30px;
        }

        .threeDiv {
            width: 80%;
            margin-bottom: 30px;
        }
    }
}