.footer {
    margin-top: 70px;
    margin-bottom: 40px;

    .questions {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .question_card {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            & p {
                color: rgb(25, 25, 27);
                font-size: 18px;
                font-weight: 600;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: center;

                @media(max-width: 768px) {
                    font-size: 16px;
                }

                @media(max-width: 400px) {
                    font-size: 14px;
                }
            }

            & a {
                color: #3498DB;
                font-size: 18px;
                font-weight: 600;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: center;

                @media(max-width: 768px) {
                    font-size: 16px;
                }

                @media(max-width: 400px) {
                    font-size: 14px;
                }
            }

            @media(max-width: 768px) {
                flex-direction: column;
            }
        }


    }
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;

    .box {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 145px;


        .footer_top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: end;

            .address {
                display: flex;
                align-items: center;
                gap: 14px;

                img {
                    width: 12px;
                    height: 17px;
                }

                .city_by {
                    color: rgb(25, 25, 27);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                }

                p {
                    color: rgb(25, 25, 27);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                }
            }

            .ikon {
                width: 115px;
            }

            .right {
                display: flex;
                align-items: center;
                gap: 14px;
                margin-left: 15.18px;

                .mail {
                    display: flex;
                    align-items: center;
                    gap: 14px;

                    img {
                        width: 20px;
                    }

                    @media(max-width: 1024px) {
                        img {
                            width: 16px;
                        }
                    }

                    p {
                        color: #000;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 130%;
                        letter-spacing: 0%;
                        text-align: center;
                    }
                }

                .ikons {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    a {
                        img {
                            width: 20px;
                        }

                        p {
                            color: #000;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 130%;
                            letter-spacing: 0%;
                            text-align: center;
                        }

                        @media(max-width: 1024px) {
                            img {
                                width: 16px;
                            }
                        }
                    }
                }
            }

            @media(max-width: 1024px) {
                .address {
                    min-width: 180px;

                    p {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                .right {
                    min-width: 250px;

                    .mail {
                        min-width: 130px;

                        p {
                            font-size: 13px;
                        }
                    }

                    .ikons {
                        min-width: 85px;

                        img {
                            width: 17px;
                        }
                    }
                }
            }

            @media(max-width: 834px) {
                .address {
                    min-width: 160px;

                    p {
                        font-size: 11px;
                        font-weight: 400;
                    }
                }

                .right {
                    min-width: 230px;

                    .mail {
                        min-width: 130px;

                        p {
                            font-size: 12px;
                        }
                    }

                    .ikons {
                        min-width: 85px;

                        img {
                            width: 16px;
                        }
                    }
                }
            }
        }

        @media(max-width: 720px) {
            .footer_top {
                grid-template-areas: 'a' 'address' 'right';
            }
        }

        .footer_bottom {
            min-width: 481px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .footer_modal {
                cursor: pointer;
            }

            p {
                margin: 5px;
                width: 48%;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0%;
                text-align: center;
            }

            @media(max-width: 1024px) {
                p {
                    font-size: 15px;
                }
            }

            @media(max-width: 834px) {
                p {
                    font-size: 14px;
                }
            }

        }


    }
}

@media(max-width: 1440px) {
    .navbar {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .navbar {
        display: none;
    }
}

.mobile_footer {
    display: none;
}

@media(max-width: 768px) {
    .mobile_footer {
        display: block;
    }

    .footer {
        margin-top: 30px;
        margin-bottom: 40px;
    }
}