.ShowCar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .top_ShowCar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: rgb(0, 0, 0);
            font-size: 24px;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: center;
        }

        button {
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 38px;
            border-radius: 8px;
            background: rgb(52, 152, 219);
            color: rgb(252, 252, 252);
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0%;
            text-align: left;
        }

        @media(max-width:768px) {
            h2 {
                font-size: 16px;
            }

            button {
                width: 200px;
                font-size: 14px;
                padding: 12px 18px 12px 18px;
            }
        }

        @media(max-width:400px) {
            h2 {
                font-size: 14px;
            }

            button {
                width: 150px;
                font-size: 12px;
                padding: 10px;
            }
        }
    }
}