.map_black,
.map {
  width: 100%;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  cursor: default;
  margin-bottom: 30px;

  @media(max-width:768px) {
    margin-bottom: 20px;
  }

  .cargo_search_card_open,
  .cargo_search_card {
    display: flex;
    gap: 20px;
    flex-direction: column;
    overflow: hidden;

    .mapdd {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 120px;
      height: 120px;

      @media(max-width:768px) {
        padding: 20px;
      }

      .firstDiv {
        display: flex;
        width: 60%;

        p {
          flex: 0 0 33%;
          text-align: center;
        }
      }

      .secondDiv {
        display: flex;
        width: 40%;

        p {
          flex: 0 0 50%;
          text-align: center;
        }

      }

      @media(max-width:768px) {
        .firstDiv {
          flex-direction: column;
          gap: 5px;

          p {
            font-size: 14px;
            text-align: left;

          }
        }

        .secondDiv {
          flex-direction: column;
          gap: 5px;

          p {
            font-size: 14px;
            text-align: left;
          }
        }
      }

      @media(max-width:400px) {
        .firstDiv {
          flex-direction: column;
          gap: 5px;

          p {
            font-size: 12px;
            text-align: left;

          }
        }

        .secondDiv {
          flex-direction: column;
          gap: 5px;

          p {
            font-size: 12px;
            text-align: left;

          }
        }
      }
    }

    .spaceBetwen {
      width: 100%;
      display: flex;
      justify-content: space-between;
      // flex-direction: column;
      padding: 0 32px;

      @media(max-width:768px) {
        padding: 0px 20px;
      }

      div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;


        .cursorPoint {
          cursor: pointer;
          text-decoration: underline;
        }

        a {
          & img {
            width: 15px;
            height: 15px;
          }
        }
      }

      .left_card {
        width: 40%;
        display: flex;
        align-items: end;

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: left;
          cursor: pointer;
        }
      }

      .card_right {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & div {
          display: flex;
          justify-content: end;
          gap: 5px;

          @media(max-width:768px) {
            justify-content: start;

          }

          & p {
            margin-right: 25px;
          }

          & a {
            & img {
              width: 50px;
              height: 50px;
            }
          }
        }

        a {
          p {
            color: rgb(49, 49, 168);
          }
        }
      }

      .dopReg {
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;

        .reminder {
          font-size: 16px;
          font-weight: 400;

          @media(max-width:768px) {
            font-size: 12px;
            text-align: center;
          }

          @media(max-width:400px) {
            font-size: 10px;
          }
        }
      }


    }

    @media(max-width:768px) {
      .spaceBetwen {
        flex-direction: column;

        .left_card {
          width: 100%;
        }
      }
    }
  }

  .cargo_search_card {
    height: 120px;

    .spaceBetwen {
      display: none;
    }
  }

  .cargo_search_card_open {
    padding-bottom: 20px;

    .spaceBetwen {
      display: flex;
    }
  }
}

.map_black {
  background-color: #F6F6F6;
}

.map {
  background-color: #EDEDED;
}