.InputText {
    width: 100%;

    .text {
        color: rgb(25, 25, 27);
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 8px;
    }

    .error {
        color: rgb(255, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 5px;
    }

    .input_username {
        width: 100%;
        // margin-bottom: 20px;
    }

    .error_input_username {
        width: 100%;
        // margin-bottom: 20px;

        label {
            color: red;
        }

    }
}