.Registration {
    width: 1440px;
    height: 100%;
    margin: 70px auto 0;

    .box {
        width: 90%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .scania {
            width: 55%;
            height: 100%;
        }

        @media(max-width: 1200px) {
            .scania {
                display: none;
            }
        }
    }

    @media(max-width: 1200px) {
        .box {
            justify-content: center;
        }
    }
}

@media(max-width: 1440px) {
    .Registration {
        width: 100%;
        // background-color: rgb(11, 70, 70);
    }
}

@media(max-width: 1024px) {
    .Registration {
        margin: 40px auto 0;
    }
}

@media(max-width: 768px) {
    .Registration {
        margin: 0 auto;
    }
}