.InputPassword {
    width: 100%;

    .textInput {
        color: rgb(25, 25, 27);
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 8px;
    }

    .error_textInput {
        color: red;
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 5px;
    }

    .input_password {
        width: 100%;
        // margin-bottom: 20px;
        // height: 35px;
    }


}