.RegistrationForm {
    width: 40%;
}

.form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
        color: rgb(25, 25, 27);
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
        // margin-bottom: 20px;
    }

    @media(max-width: 1300px) {
        .title {
            font-size: 28px;
        }
    }

    @media(max-width: 1200px) {
        .title {
            font-size: 32px;
        }
    }

    .error {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;

        button {
            // width: 125px;
            display: flex;
            padding: 18px;
            // padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            background: #3498DB;
            color: rgb(252, 252, 252);
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0%;
            text-align: left;
        }

        @media(max-width: 1300px) {
            button {
                font-size: 18px;
            }
        }

        @media(max-width: 1200px) {
            button {
                font-size: 20px;
            }
        }
    }

    .question {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        p {
            color: rgba(0, 0, 0, 0.7);
            font-size: 18px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: center;
        }

        .pointer {
            cursor: pointer;
            color: #3498DB;
        }
    }
}

@media(max-width: 1200px) {
    .RegistrationForm {
        width: 80%;
        // background-color: rgb(11, 70, 70);

    }
}

@media(max-width: 768px) {
    .RegistrationForm {
        width: 100%;

        // background-color: rgb(11, 70, 70);
        .form {
            .error {
                button {
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .RegistrationForm {
        .form {
            .title {
                font-size: 26px;
            }

            .introduction {
                font-size: 18px;
            }

            .buttons {
                width: 75%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                .customer {
                    font-size: 14px;
                }

                .order {
                    font-size: 14px;
                }

                .cargo {
                    font-size: 14px;
                }

                .transport {
                    font-size: 14px;
                }
            }

            .question {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}