.LogOut {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;

  .LogOut_card {
    width: 220px;
    background-color: #3498DB;
    border-radius: 16px;
    overflow-y: auto;
    padding: 20px;
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .closed {
      position: absolute;
      color: #fff;
      font-size: 25px;
      padding: 5px;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    & .title_out {
      color: #FCFCFC;
      font-size: 18px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0%;
      list-style: none;
    }

    .buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .cancellation {
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: rgb(252, 252, 252);
        color: rgb(52, 152, 219);
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
      }

      .log_out {
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: rgb(221, 43, 43);
        color: rgb(252, 252, 252);
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
      }
    }
  }

  @media (max-width: 768px) {
    .TermsOfUse_card {
      width: 90%;
    }
  }
}