.NoteCard {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.note_note {
		display: flex;

		h2 {
			width: 140px;
			color: rgb(0, 0, 0);
			font-size: 16px;
			font-weight: 500;
			line-height: 130%;
			letter-spacing: 0%;
			text-align: left;
		}

		.textinput {
			width: 522px;
			padding: 6px;
			box-sizing: border-box;
			border: 1px solid rgb(199, 199, 199);
			border-radius: 8px;
			color: rgb(0, 0, 0);
			font-size: 16px;
			font-weight: 500;
			line-height: 130%;
			letter-spacing: 0%;
			resize: none;
		}

		.errorText {
			border: 2px solid red;
		}
	}

	.add_file {
		display: flex;
		align-items: center;

		h2 {
			width: 140px;
			color: rgb(0, 0, 0);
			font-size: 16px;
			font-weight: 500;
			line-height: 130%;
			letter-spacing: 0%;
			text-align: left;
		}

		.add_photo {
			width: 85px;
			height: 32px;
			justify-content: flex-start;
			align-items: center;
			padding: 5px;
			box-sizing: border-box;
			border: 1px solid rgb(52, 152, 219);
			background-color: #fff;
			border-radius: 8px;
			color: rgb(52, 152, 219);
			font-size: 16px;
			font-weight: 500;
			line-height: 120%;
			letter-spacing: 0px;
			text-align: left;
			position: relative;
			cursor: pointer;
			margin-right: 13px;

			span {
				font-size: 20px;
				margin-right: 10px;
			}
		}

		.hidden {
			opacity: 0;
			width: 0;
			height: 0;
			line-height: 0;
			overflow: hidden;
			padding: 0;
			margin: 0;
		}
	}

	@media (max-width: 768px) {
		.note_note {
			flex-direction: column;
			gap: 12px;

			.textinput {
				width: 100%;
			}
		}

		.add_file {

			h2 {
				width: 90px;
			}
		}
	}
}