.mobile_container {
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 70px;
    }

    .mobile_navigate {
        display: flex;
        align-items: center;
        gap: 10px;

        .mobile_ikons {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                width: 20px;
            }

            p {
                color: rgb(25, 25, 27);
                font-size: 14px;
                font-weight: 600;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: center;
            }


        }

        .mobile_menu {
            min-width: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .mobi_ikon {
                width: 22px;
            }

            .enter {
                width: 20px;
            }

            .burger_Menu {
                width: 24px;
            }
        }
    }
}