.PersonalArea {
    width: 1440px;
    margin: 70px auto;

    .areaPA {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    @media(max-width: 1024px) {
        .areaPA {
            position: relative;
        }
    }

    @media(max-width: 768PX) {
        .areaPA {
            flex-direction: column;
        }
    }
}

@media(max-width: 1440px) {
    .PersonalArea {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .PersonalArea {
        margin: 40px auto;
    }
}

@media(max-width: 768px) {
    .PersonalArea {
        margin: 30px auto;
    }
}