// .ul {
//     max-height: 800px;
//     overflow-y: auto;
//     padding-right: 10px;
//     width: 100%;

//     .map {
//         width: 100%;
//         height: 120px;
//         border-radius: 10px;
//         background: rgb(248, 248, 248);
//         margin-bottom: 30px;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: column;

//         .mapdd {
//             width: 100%;
//             display: flex;
//             justify-content: space-around;
//             align-items: center;

//             .firstDiv {
//                 display: flex;
//                 width: 60%;

//                 div {
//                     flex: 0 0 33%;
//                     text-align: center;

//                 }
//             }

//             .secondDiv {
//                 display: flex;
//                 width: 40%;


//                 div {
//                     flex: 0 0 50%;
//                     text-align: center;
//                 }
//             }

//             @media(max-width:768px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;



//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }
//             }

//             @media(max-width:400px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }
//             }
//         }

//     }

//     .map {
//         width: 100%;
//         height: 180px;
//         border-radius: 10px;
//         background: rgb(248, 248, 248);
//         margin-bottom: 30px;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: column;


//         .mappp {
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             // justify-content: space-around;
//             align-items: center;

//             .display {
//                 display: flex;
//                 width: 100%;
//                 padding-bottom: 40px;
//             }

//             .dopReg {
//                 display: flex;
//                 width: 100%;
//                 padding-right: 30px;
//                 padding-left: 30px;
//                 justify-content: space-between;

//                 .card_right {
//                     display: flex;
//                     flex-direction: column;

//                     div {
//                         display: flex;
//                         justify-content: center;
//                         padding-bottom: 10px;
//                     }

//                     img {
//                         width: 20px;
//                     }
//                 }
//             }

//             .firstDiv {
//                 display: flex;
//                 width: 60%;

//                 div {
//                     flex: 0 0 33%;
//                     text-align: center;

//                 }
//             }

//             .secondDiv {
//                 display: flex;
//                 width: 40%;


//                 div {
//                     flex: 0 0 50%;
//                     text-align: center;
//                 }
//             }

//             @media(max-width:768px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }
//             }

//             @media(max-width:400px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }
//             }
//         }

//     }

//     .mapdd {
//         .sdfg {
//             display: none
//         }
//     }

//     .mappp {
//         .sdfg {
//             display: block
//         }
//     }

//     .mapBlack {
//         width: 100%;
//         height: 220px;
//         border-radius: 10px;
//         padding-top: 30px;

//         background: rgb(255, 255, 255);
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: column;

//         .mapdd,
//         .mappp {
//             width: 100%;

//             display: flex;
//             flex-direction: column;
//             align-items: center;

//             .display {
//                 display: flex;
//                 width: 100%;
//                 padding-bottom: 40px;
//             }

//             .dopReg {
//                 display: flex;
//                 width: 100%;
//                 padding-right: 30px;
//                 padding-left: 30px;
//                 justify-content: space-between;
//                 padding-bottom: 30px;

//                 .card_right {
//                     display: flex;
//                     flex-direction: column;

//                     div {
//                         display: flex;
//                         justify-content: center;
//                         padding-bottom: 10px;
//                     }

//                     img {
//                         width: 20px;
//                     }
//                 }
//             }

//             .firstDiv {
//                 display: flex;
//                 width: 60%;

//                 div {
//                     flex: 0 0 33%;
//                     text-align: center;

//                 }
//             }

//             .secondDiv {
//                 display: flex;
//                 width: 40%;

//                 div {
//                     flex: 0 0 50%;
//                     text-align: center;
//                 }

//             }

//             @media(max-width:768px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;


//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }


//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }
//             }

//             @media(max-width:400px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }
//             }
//         }
//     }
// }


// @media(max-width:768px) {
//     .ul {
//         .mapdd {
//             padding: 20px;

//         }
//     }

//     .FiveP {
//         p {
//             display: none;
//         }
//     }
// }

// .ull {
//     max-height: 800px;
//     overflow-y: auto;
//     padding-right: 10px;
//     width: 100%;

//     .map {
//         width: 100%;
//         height: 180px;
//         border-radius: 10px;
//         background: rgb(248, 248, 248);
//         margin-bottom: 30px;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: column;

//         .mapdd {
//             width: 100%;
//             display: flex;
//             justify-content: space-around;
//             align-items: center;

//             .firstDiv {
//                 display: flex;
//                 width: 60%;

//                 div {
//                     flex: 0 0 33%;
//                     text-align: center;

//                 }
//             }

//             .secondDiv {
//                 display: flex;
//                 width: 40%;


//                 div {
//                     flex: 0 0 50%;
//                     text-align: center;
//                 }
//             }

//             @media(max-width:768px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }
//             }

//             @media(max-width:400px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }
//             }
//         }

//     }

//     .map {
//         width: 100%;
//         height: 180px;
//         border-radius: 10px;
//         background: rgb(248, 248, 248);
//         margin-bottom: 30px;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: column;


//         .mappp {
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             // justify-content: space-around;
//             align-items: center;

//             .display {
//                 display: flex;
//                 width: 100%;
//                 padding-bottom: 40px;
//             }

//             .dopReg {
//                 display: flex;
//                 width: 100%;
//                 padding-right: 30px;
//                 padding-left: 30px;
//                 justify-content: space-between;

//                 .card_right {
//                     display: flex;
//                     flex-direction: column;

//                     div {
//                         display: flex;
//                         justify-content: center;
//                         padding-bottom: 10px;
//                     }

//                     img {
//                         width: 20px;
//                     }
//                 }
//             }

//             .firstDiv {
//                 display: flex;
//                 width: 60%;

//                 div {
//                     flex: 0 0 33%;
//                     text-align: center;

//                 }
//             }

//             .secondDiv {
//                 display: flex;
//                 width: 40%;


//                 div {
//                     flex: 0 0 50%;
//                     text-align: center;
//                 }
//             }

//             @media(max-width:768px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }
//             }

//             @media(max-width:400px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }
//             }
//         }

//     }

//     .mapdd {
//         .sdfg {
//             display: none
//         }
//     }

//     .mappp {
//         .sdfg {
//             display: block
//         }
//     }

//     .mapBlack {
//         width: 100%;
//         height: 180px;
//         border-radius: 10px;
//         padding-top: 30px;

//         background: rgb(255, 255, 255);
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: column;

//         .mapdd,
//         .mappp {
//             width: 100%;

//             display: flex;
//             flex-direction: column;
//             align-items: center;

//             .display {
//                 display: flex;
//                 width: 100%;
//                 padding-bottom: 40px;
//             }

//             .dopReg {
//                 display: flex;
//                 width: 100%;
//                 padding-right: 30px;
//                 padding-left: 30px;
//                 justify-content: space-between;

//                 .card_right {
//                     display: flex;
//                     flex-direction: column;

//                     div {
//                         display: flex;
//                         justify-content: center;
//                         padding-bottom: 10px;
//                     }

//                     img {
//                         width: 20px;
//                     }
//                 }
//             }

//             .firstDiv {
//                 display: flex;
//                 width: 60%;

//                 div {
//                     flex: 0 0 33%;
//                     text-align: center;

//                 }
//             }

//             .secondDiv {
//                 display: flex;
//                 width: 40%;

//                 div {
//                     flex: 0 0 50%;
//                     text-align: center;
//                 }

//             }

//             @media(max-width:768px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 16px;
//                         text-align: left;

//                     }
//                 }
//             }

//             @media(max-width:400px) {
//                 .firstDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }

//                 .secondDiv {
//                     flex-direction: column;
//                     gap: 5px;

//                     div {
//                         font-size: 12px;
//                         text-align: left;

//                     }
//                 }
//             }
//         }
//     }
// }


// @media(max-width:768px) {
//     .ull {
//         .mapdd {
//             padding: 20px;

//         }
//     }

//     .FiveP {
//         p {
//             display: none;
//         }
//     }
// }







// .ul,
// .ull {
//     max-height: 800px;
//     overflow-y: auto;
//     padding-right: 10px;
//     width: 100%;

//     .mapBlack,
//     .map {
//         margin-top: 20px;
//         width: 100%;
//         height: 200px;
//         border-radius: 10px;

//         .mappp,
//         .mapdd {
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;

//             .display {
//                 width: 100%;
//                 display: flex;
//                 height: 100px;

//                 .firstDiv {
//                     width: 60%;
//                     display: flex;
//                     align-items: center;

//                     .section_card {
//                         width: 33.3%;
//                         display: flex;
//                         justify-content: center;

//                         p {
//                             color: rgb(0, 0, 0);
//                             font-size: 16px;
//                             font-weight: 400;
//                             line-height: 19px;
//                             letter-spacing: 0%;
//                             text-align: left;
//                         }
//                     }
//                 }

//                 @media(max-width:768px) {
//                     .firstDiv {
//                         flex-direction: column;
//                         justify-content: center;

//                     }
//                 }

//                 .secondDiv {
//                     width: 40%;
//                     display: flex;
//                     align-items: center;

//                     .section_card {
//                         width: 50%;
//                         display: flex;
//                         flex-direction: column;
//                         align-items: center;

//                         p {
//                             color: rgb(0, 0, 0);
//                             font-size: 16px;
//                             font-weight: 400;
//                             line-height: 19px;
//                             letter-spacing: 0%;
//                             text-align: left;
//                         }
//                     }
//                 }

//                 @media(max-width:768px) {
//                     .secondDiv {
//                         flex-direction: column;
//                         justify-content: center;

//                     }
//                 }
//             }

//             .dopReg {
//                 width: 88%;
//                 display: flex;
//                 justify-content: space-between;
//                 height: 100px;

//                 .left_card {
//                     p {
//                         color: rgb(0, 0, 0);
//                         font-size: 16px;
//                         font-weight: 400;
//                         line-height: 19px;
//                         letter-spacing: 0%;
//                         text-align: left;
//                     }
//                 }

//                 .card_right {
//                     div {
//                         display: flex;
//                         gap: 10px;
//                         justify-content: center;

//                         a {
//                             display: flex;

//                             img {
//                                 margin-top: 10px;
//                                 width: 40px;
//                             }
//                         }
//                     }
//                 }
//             }

//             @media(max-width:768px) {
//                 .dopReg {
//                     .left_card {
//                         p {
//                             color: rgb(0, 0, 0);
//                             font-size: 12px;
//                             font-weight: 400;
//                             line-height: 19px;
//                             letter-spacing: 0%;
//                             text-align: center;

//                         }
//                     }

//                     .card_right {
//                         p {
//                             color: rgb(0, 0, 0);
//                             font-size: 12px;
//                             font-weight: 400;
//                             line-height: 19px;
//                             letter-spacing: 0%;
//                             text-align: center;
//                         }
//                     }
//                 }
//             }
//         }

//         .mapdd {
//             .dopReg {
//                 display: none;
//             }
//         }
//     }

//     .map {
//         background-color: #dbdada;
//     }

//     .mapBlack {
//         background-color: #F6F6F6;
//     }
// }

.ul,
.ull {
    max-height: 800px;
    overflow-y: auto;
    padding-right: 10px;
    width: 100%;
    padding-top: 30px;

    @media(max-width:768px) {
        padding-top: 20px;
    }
}

.mapp {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background: rgb(248, 248, 248);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
    }
}

.map_blackk {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
    }
}













.disk {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.currentOffers {
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
}

.displayFlex {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 70px;

    .currentOffers {
        color: rgb(0, 0, 0);
        font-size: 36px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }

    @media(max-width: 1040px) {
        .currentOffers {
            font-size: 24px;
        }
    }


}

@media(max-width: 768px) {
    .displayFlex {
        margin-top: 200px;
    }
}

@media(max-width: 500px) {
    .displayFlex {
        margin-top: 200px;
    }
}


// button {
//     margin-top: 18px;
//     width: 20px;
//     height: 10px;
// }



.span {
    margin-top: 15px;
    background: rgb(159, 159, 159);
    width: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
}

.spanNext {
    margin-top: 15px;

    // background: rgb(159, 159, 159);
    width: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
}

.spanNextTwo {
    width: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 15px;


}

.spanNextThree {
    width: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 15px;

}



.FiveP {
    display: flex;
    margin: 15px 0 0px 0;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px 16px 0px 0px;

    /* Аccent */
    background: rgb(52, 152, 219);

    p {
        color: rgb(252, 252, 252);
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: center;
        flex: 0 0 20%;
    }
}

.twoButton {
    display: flex;
    gap: 20px;

    .neactive {
        border-radius: 8px;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
        /* Аccent */
        background: rgb(255, 255, 255);
        width: 160px;
        height: 47px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }

    .active {
        background: rgb(52, 152, 219);
        border-radius: 8px;

        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
        /* Аccent */

        width: 160px;
        height: 47px;
        color: rgb(252, 252, 252);

        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
}

@media(max-width: 500px) {
    .twoButton {
        justify-content: space-between;

        .active {
            width: 50%;
        }

        .neactive {
            width: 50%;
        }
    }

}


::-webkit-scrollbar {
    width: 10px;

}


::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.534);
    border-radius: 4px;

}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgb(52, 152, 219);
    width: 5px;
}

@media(max-width: 1024px) {
    .FiveP {
        height: 30px;

        p {
            display: none;
        }
    }
}



@media(max-width: 768px) {


    .currentOffers {
        color: rgb(0, 0, 0);
        font-size: 22px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }

    .FiveP {
        height: 30px;

        p {
            display: none;
        }
    }
}


.displayMap {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.displayMapDiv {
    display: flex;
    justify-content: center;
}

.displayMapDivTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;



    div {
        display: flex;
        justify-content: center;
    }
}