.RestorePassword {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1000;
	background-color: #00000066;

	.box {
		width: 650px;
		height: 320px;
		padding: 32px;
		background-color: #fff;
		border-radius: 16px;
		cursor: default;
		.form {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;

			.closed {
				display: none;
			}

			.password {
				color: rgb(25, 25, 27);
				font-size: 32px;
				font-weight: 700;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: center;
			}

			.send {
				color: rgb(25, 25, 27);
				font-size: 18px;
				font-weight: 500;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: center;
			}

			.mail {
				margin-bottom: 20px;

				.email_input {
					color: rgb(25, 25, 27);
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
					margin-bottom: 5px;
				}

				.error_email_input {
					color: red;
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
					margin-bottom: 5px;
				}

				input {
					width: 100%;
					display: flex;
					padding: 10px;

					gap: 10px;
					color: #000;
					font-size: 18px;
					font-style: normal;
					font-weight: 500;
					line-height: 130%;
					box-sizing: border-box;
					border: 1px solid rgb(199, 199, 199);
					border-radius: 8px;
				}
			}

			.error {
				width: 100%;
				display: flex;
				justify-content: end;
				align-items: center;

				button {
					width: 200px;
					display: flex;
					padding: 18px;
					justify-content: center;
					align-items: center;
					border-radius: 10px;
					background: #3498db;
					color: rgb(252, 252, 252);
					font-size: 20px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0%;
					text-align: left;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.box {
			width: 90%;
			// height: 390px;

			.form {
				.closed {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					font-size: 30px;
				}

				.error {
					button {
						width: 100%;
					}
				}
			}
		}
	}

	@media (max-width: 550px) {
		.box {
			height: 390px;
		}
	}
}
