.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
	background-color: #0000001a;
	z-index: 5000;
}

.dots_container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.dot {
	height: 20px;
	width: 20px;
	margin-right: 10px;
	border-radius: 10px;
	background-color: #3498db;
	animation: pulse 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
	animation-delay: 0.2s;
}

.dot:nth-child(2) {
	animation-delay: 0.4s;
}

.dot:nth-child(3) {
	animation-delay: 0.6s;
}

.dot:nth-child(4) {
	animation-delay: 0.8s;
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
		background-color: #3498db;
		// box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
	}

	50% {
		transform: scale(1.2);
		background-color: #3498db;
		// box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
	}

	100% {
		transform: scale(0.8);
		background-color: #3498db;
		// box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
	}
}
