.OtherData {
    display: flex;
    flex-direction: column;
    gap: 20px;


    .price {
        display: flex;
        gap: 13px;

        h2 {
            width: 127px;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
        }

        .select_fields {
            display: flex;
            flex-direction: column;
            gap: 13px;

            label {
                display: flex;
                align-items: center;
                color: rgb(25, 25, 27);
                font-size: 16px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: left;
                cursor: pointer;

                .input_in_label {
                    margin-right: 10px;
                    width: 20px;
                }

                .quantity {
                    width: 115px;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-align: center;
                    margin-left: 20px;
                }
            }

            .errorTextEr {
                color: red;
            }
        }

        input {
            width: 250px;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid rgb(199, 199, 199);
            border-radius: 8px;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .currency,
        .paragraph {
            width: 90px;
            display: flex;
            align-items: center;
            padding: 6px;
            box-sizing: border-box;
            border: 1px solid rgb(199, 199, 199);
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: left;
            appearance: none;
            background-color: #fff;
            background-image: url('https://cdn-icons-png.flaticon.com/512/54/54785.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .5em top 50%, 0 0;
            background-size: .65em auto, 100%;
            padding-right: 25px;
        }

        .paragraph {
            width: 250px;
        }

        .errorText {
            border: 2px solid red;
        }
    }

    .note {
        display: flex;
        // gap: 20px;

        h2 {
            width: 140px;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
        }

        .textinput {
            width: 522px;
            padding: 6px;
            box-sizing: border-box;
            border: 1px solid rgb(199, 199, 199);
            border-radius: 8px;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
            resize: none;
        }

        @media(max-width: 768px) {
            .textinput {
                width: 70%;
            }
        }

        .errorText {
            border: 2px solid red;
        }
    }

    .contacts {
        display: flex;
        gap: 20px;

        h2 {
            width: 120px;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0%;
        }

        .indication {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
                width: 349px;
                height: 27px;
                padding: 4px;
                border-radius: 4px;
                background: rgb(248, 248, 248);
                color: rgba(25, 25, 27, 0.8);
                font-size: 16px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: left;
            }

            @media(max-width: 390px) {
                p {
                    width: 100%;
                    font-size: 14px;
                }
            }

            @media(max-width: 340px) {
                p {
                    width: 100%;
                    font-size: 12px;
                }
            }

            .inputs {
                display: flex;
                gap: 20px;

                input {
                    width: 270px;
                    padding: 6px;
                    box-sizing: border-box;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: 0%;
                }

                .errorText {
                    border: 2px solid red;
                    width: 270px;
                    padding: 6px;
                    box-sizing: border-box;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 8px;
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: 0%;
                }

                @media(max-width: 1200px) {
                    input {
                        width: 230px;
                    }
                }

                @media(max-width: 768px) {
                    input {
                        width: 200px;
                    }
                }
            }
        }
    }

    @media(max-width: 620px) {

        .price,
        .note,
        .contacts {
            flex-direction: column;
            gap: 12px;


            @media(max-width: 470px) {
                .indication {

                    .inputs {
                        width: 100%;
                        justify-content: space-between;

                        input {
                            width: 48%;
                        }
                    }
                }
            }
        }

        .note {
            input {
                width: 100%;
            }
        }


    }
}

@media(max-width: 768px) {
    .OtherData {
        flex-direction: column;
    }
}