.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: #FCFCFC;
}

.main {
    /* flex: 1 1 auto; */
}

.adf {
    width: 200px;
    height: 800px;
    overflow-y: scroll;
}