@import url('https://fonts.googleapis.com/css2? Family= Fredoka:wght@400;500;600;700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-family: 'Inter', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: 'Inter', sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  font-family: 'Inter', sans-serif;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
select,
option {
  font-size: inherit;
  font-weight: inherit;
  font-family: 'Inter', sans-serif;
}

.containerSwiperHome .swiper-button-next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 35%;
  right: 0;
  z-index: 100;
  content: '>';
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #FCFCFC; */
  border-radius: 50%;
  cursor: pointer;
}

.containerSwiperHome .swiper-button-prev {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 35%;
  z-index: 100;
  content: '>';
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #FCFCFC; */
  border-radius: 50%;
  cursor: pointer;
}

.containerSwiperHome .swiper-button-next::after {
  content: '>';
  color: rgb(52, 152, 219);
  font-size: 30px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  list-style: none;
  cursor: pointer;
  display: block;
  height: 50px;
  cursor: pointer;
}

.containerSwiperHome .swiper-button-prev::before {
  content: '<';
  color: rgb(52, 152, 219);
  font-size: 30px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  list-style: none;
  cursor: pointer;
}

select {
  cursor: pointer;
}