.header_bottom {
	height: 100px;
	display: flex;
	align-items: center;

	.navbar {
		width: 1440px;
		margin: 0 auto;

		.box {
			width: 90%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.user_field {
				display: flex;
				justify-content: end;
				align-items: center;
				min-width: 30%;
			}
		}
	}
}

@media (max-width: 1024px) {
	.header_bottom {
		height: 100px;
	}
}

@media (max-width: 834px) {
	.header_bottom {
		height: 80px;
	}
}

@media (max-width: 1440px) {
	.navbar {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.header_basic {
		display: none;
	}
}

.mobile_header {
	display: none;
}

@media (max-width: 768px) {
	.mobile_header {
		display: block;
	}
}