.mySwiper .mySwiper {
    width: 100%;
    /* height: 700px; */
    position: relative;
}


@media screen and (max-width:1440px) {
    .mySwiper .mySwiper {
        /* height: 800px; */
    }
}

@media screen and (max-width:430px) {
    .mySwiper .mySwiper {
        height: 300px;
    }
}

.mySwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* height: 770px; */
    width: 100%;
    object-fit: contain;

}

.mySwiper .swiper-slide img {
    position: relative;
    width: 100%;
    /* height: 770px; */
    object-fit: contain;
    aspect-ratio: 10/6;
    object-position: center;
    margin: 0;
}