.ts {
    // height: 900px;
    position: relative;
}

.box {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.back {
    width: 100%;
    position: relative;

    .tochki {
        width: 100%;
        top: 100px;
        z-index: 100;
    }

    h2 {
        color: rgb(121, 12, 12);
        font-size: 60px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
    }

    p {
        color: rgb(179, 53, 53);
        font-size: 28px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
        width: 50%;
    }

    @media(max-width:1024px) {
        p {
            width: 60%;
        }
    }

    @media(max-width:768px) {
        p {
            width: 70%;
        }
    }

    @media(max-width:768px) {
        p {
            width: 80%;
        }
    }
}

.absolut {
    position: absolute;
    bottom: -100px;
    z-index: 300;


}

@media(max-width:1024px) {



    .absolut {
        position: absolute;
        bottom: -60px;
        z-index: 300;
    }
}

@media(max-width:768px) {

    .ts {
        // height: 750px;
    }

    .back {
        // padding-bottom: 100px;
        // height: 650px;

        .tochki {
            padding-top: 140px;
            height: 350px;
            background-position-y: 100px;
        }

        // height: 900px;
        h2 {
            font-size: 45px;
        }

        p {
            font-size: 22px;
        }
    }

    .absolut {
        position: absolute;
        bottom: -160px;
        z-index: 300;
    }
}

@media(max-width:580px) {


    .absolut {
        position: absolute;
        bottom: -150px;
        z-index: 300;
    }
}

@media(max-width:500px) {


    .absolut {
        position: absolute;
        bottom: -140px;
        z-index: 300;
    }
}

@media(max-width:450px) {


    .absolut {
        position: absolute;
        bottom: -110px;
        z-index: 300;
    }
}

@media(max-width:400px) {


    .absolut {
        position: absolute;
        bottom: -100px;
        z-index: 300;
    }
}