.login {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1000;
	background-color: #00000066;

	.box {
		width: 650px;
		height: 480px;
		padding: 32px;
		background-color: #fff;
		border-radius: 16px;
		cursor: default;

		.form {
			width: 100%;
			height: 100%;
			position: relative;

			.closed {
				display: none;
			}

			h2 {
				color: rgb(25, 25, 27);
				font-size: 32px;
				font-weight: 700;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: left;
				margin-bottom: 20px;
			}

			.username {
				margin-bottom: 30px;

				.title_username {
					color: rgb(25, 25, 27);
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
					margin-bottom: 7px;
				}

				.title_username_error {
					color: red;
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
					margin-bottom: 7px;
				}

				.input_username {
					width: 100%;
					height: 43px;
				}
			}

			.password {
				margin-bottom: 5px;

				.title_password {
					color: rgb(25, 25, 27);
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
					margin-bottom: 7px;
				}

				.title_password_error {
					color: red;
					font-size: 18px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
					margin-bottom: 7px;
				}

				.input_password {
					height: 53px;
				}
			}

			.error_area {
				display: flex;
				width: 100%;
				justify-content: end;
				align-items: center;
				margin-bottom: 32px;

				p {
					color: rgb(25, 25, 27);
					font-size: 16px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: left;
					cursor: pointer;
				}
			}

			.bottom_login {
				width: 100%;
				height: 30%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: end;

				button {
					width: 125px;
					display: flex;
					padding: 18px;
					// padding: 10px;
					justify-content: center;
					align-items: center;
					gap: 10px;
					border-radius: 10px;
					background: #3498db;
					color: rgb(252, 252, 252);
					font-size: 20px;
					font-weight: 500;
					line-height: 120%;
					letter-spacing: 0%;
					text-align: left;
					margin-bottom: 20px;
				}

				.bottom {
					width: 100%;
					display: flex;
					justify-content: space-around;

					p {
						color: rgba(0, 0, 0, 0.7);
						font-size: 18px;
						font-weight: 500;
						line-height: 130%;
						letter-spacing: 0%;
						text-align: center;
					}

					.path {
						color: #3498DB;
						font-size: 18px;
						font-weight: 500;
						line-height: 130%;
						letter-spacing: 0%;
						text-align: center;
					}
				}
			}
		}
	}

	@media (max-width: 768px) {
		.box {
			width: 90%;
			height: 495px;

			.form {
				.closed {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					font-size: 30px;
				}

				.bottom_login {
					button {
						width: 100%;
					}

					.bottom {
						flex-direction: column;
						height: 50px;

						.path {
							color: #3498db;
						}
					}
				}
			}
		}
	}
}