.backround {
    max-width: 1440px;
    margin: 0 auto;

    h1 {
        color: rgb(0, 0, 0);
        font-size: 36px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 70px;
    }
}



.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    height: 740px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin-right: 30px;
}

.pro {
    width: 49%;
    margin-right: 30px;
    height: 670px;
}

@media(max-width:1024px) {
    .backround {
        h1 {
            margin-bottom: 40px;
        }
    }
}

@media(max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .pro {
            width: 100%;
            height: 315px;
        }

        .column {
            width: 100%;
        }
    }

    .backround {
        margin-bottom: 40px;
    }
}