.PersonalData {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.only_user_information {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.user_information {
			width: 60%;
			border-radius: 16px;
			box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
			background: rgb(255, 255, 255);
			padding: 20px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			cursor: default;

			.title_user_information {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				h2 {
					color: rgb(0, 0, 0);
					font-size: 24px;
					font-weight: 600;
					line-height: 130%;
					letter-spacing: 0%;
				}

				@media (max-width: 768px) {
					h2 {
						font-size: 20px;
					}
				}

				@media (max-width: 650px) {
					h2 {
						font-size: 18px;
					}
				}

				@media (max-width: 500px) {
					h2 {
						font-size: 16px;
					}
				}

				img {
					width: 18px;
					height: 18px;
					cursor: pointer;
				}

				@media (max-width: 768px) {
					img {
						width: 11px;
						height: 11px;
					}
				}
			}

			.personal_data {
				display: flex;
				flex-direction: column;
				gap: 14px;
				width: 100%;

				.user_data {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					h3 {
						color: rgb(0, 0, 0);
						font-size: 18px;
						font-weight: 500;
						line-height: 130%;
						letter-spacing: 0%;
						text-align: center;
					}

					p {
						color: rgb(0, 0, 0);
						font-size: 18px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0%;
						text-align: center;
					}

					@media (max-width: 768px) {
						h3 {
							font-size: 16px;
						}

						p {
							font-size: 16px;
						}
					}

					@media (max-width: 650px) {
						h3 {
							font-size: 15px;
						}

						p {
							font-size: 15px;
						}
					}

					@media (max-width: 500px) {
						h3 {
							font-size: 14px;
						}

						p {
							font-size: 14px;
						}
					}
				}

				.ikons {
					display: flex;
					gap: 5px;

					& img {
						width: 20px;
						height: 20px;
					}
				}
			}
		}

		.avatar_field {
			min-width: 37.5%;
			height: 270px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			overflow: hidden;

			.avatar {
				width: 270px;
				height: 270px;
				border-radius: 50%;
				box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);

				& img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					object-fit: cover;
					object-position: center;
				}
			}
		}



		@media (max-width: 768px) {
			.user_information {
				width: 100%;
			}

			.avatar_field {
				display: none;
			}
		}
	}

	.other_data {
		display: flex;
		justify-content: space-between;

		.information {
			display: flex;
			width: 60%;
			flex-direction: column;
			// justify-content: space-between;
			gap: 20px;

			.car_park {
				width: 100%;
				border-radius: 16px;
				box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
				background: rgb(255, 255, 255);
				padding: 20px;
				display: flex;
				flex-direction: column;
				gap: 20px;
				cursor: default;

				.top_car_park {
					display: flex;
					justify-content: space-between;
					align-items: center;

					h2 {
						color: rgb(0, 0, 0);
						font-size: 24px;
						font-weight: 600;
						line-height: 130%;
						letter-spacing: 0%;
					}

					button {
						display: flex;
						border-radius: 8px;
						background: rgb(52, 152, 219);
						justify-content: center;
						align-items: center;
						padding: 18px 38px 18px 38px;
						color: rgb(252, 252, 252);
						font-size: 20px;
						font-weight: 500;
						line-height: 120%;
						letter-spacing: 0%;
						text-align: left;
					}

					@media (max-width: 1200px) {
						button {
							font-size: 18px;
							padding: 9px;
						}
					}

					@media (max-width: 1024px) {
						button {
							font-size: 20px;
							padding: 18px 38px 18px 38px;
						}
					}

					@media (max-width: 500px) {
						button {
							font-size: 16px;
							padding: 9px;
						}
					}

					@media (max-width: 350px) {
						button {
							font-size: 10px;
						}
					}

					.plus_car {
						font-size: 35px;
						font-weight: 600;
						padding: 5px;
						cursor: pointer;
					}

					@media (max-width: 768px) {
						h2 {
							font-size: 20px;
						}
					}

					@media (max-width: 650px) {

						h2,
						button {
							font-size: 18px;
						}
					}

					@media (max-width: 500px) {

						h2,
						button {
							font-size: 16px;
						}
					}
				}

				.card_car {
					width: 100%;
					height: 25px;
					display: flex;
					justify-content: space-between;
					align-items: center;

					h3 {
						color: rgb(0, 0, 0);
						font-size: 18px;
						font-weight: 500;
						line-height: 130%;
						letter-spacing: 0%;
						text-align: center;
					}

					p {
						color: rgb(0, 0, 0);
						font-size: 18px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0%;
						text-align: center;
					}

					@media (max-width: 768px) {
						h3 {
							font-size: 16px;
						}

						p {
							font-size: 16px;
						}
					}

					@media (max-width: 650px) {
						h3 {
							font-size: 15px;
						}

						p {
							font-size: 15px;
						}
					}

					@media (max-width: 500px) {
						h3 {
							font-size: 14px;
						}

						p {
							font-size: 14px;
						}
					}
				}
			}
		}

		.additional_info {
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 37.5%;

			.rating {
				width: 100%;
				// height: 160px;
				border-radius: 16px;
				box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
				background: rgb(255, 255, 255);
				padding: 20px;
				display: flex;
				flex-direction: column;
				gap: 15px;
				cursor: default;

				h2 {
					color: rgb(0, 0, 0);
					font-size: 24px;
					font-weight: 600;
					line-height: 130%;
					letter-spacing: 0%;
				}

				@media (max-width: 768px) {
					h2 {
						font-size: 20px;
					}
				}

				@media (max-width: 650px) {
					h2 {
						font-size: 18px;
					}
				}

				@media (max-width: 500px) {
					h2 {
						font-size: 16px;
					}
				}

				.rating_star {
					width: 100%;
					display: flex;
					justify-content: space-evenly;
					align-items: center;

					.star_block {
						font-size: 50px;
					}

					.star_filled {
						font-size: 50px;
						color: #fff;
						-webkit-text-stroke: 1px #000;
					}
				}

				@media (max-width: 1024px) {
					.rating_star {
						justify-content: left;
						gap: 20px;
					}
				}

				@media (max-width: 768px) {
					.rating_star {
						gap: 20px;

						.star_block,
						.star_filled {
							font-size: 40px;
						}

						@media (max-width: 500px) {

							.star_block,
							.star_filled {
								font-size: 30px;
							}
						}
					}
				}
			}

			.reviews {
				max-height: 70px;
				transition: all 2s;
			}

			.open_reviews {
				max-height: 580px;
				transition: all 2s;
				overflow-y: auto;
			}

			.open_reviews,
			.reviews {
				width: 100%;
				border-radius: 16px;
				box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
				background: rgb(255, 255, 255);
				padding: 20px;
				display: flex;
				flex-direction: column;
				gap: 20px;
				overflow: hidden;

				.title_comments {
					display: flex;
					justify-content: space-between;
					align-items: center;

					h2 {
						color: rgb(0, 0, 0);
						font-size: 24px;
						font-weight: 600;
						line-height: 130%;
						letter-spacing: 0%;
					}

					@media (max-width: 768px) {
						h2 {
							font-size: 20px;
						}
					}

					@media (max-width: 650px) {
						h2 {
							font-size: 18px;
						}
					}

					@media (max-width: 500px) {
						h2 {
							font-size: 16px;
						}
					}

					.img_open {
						width: 18px;
						height: 11px;
						transform: rotate(180deg);
						transition: all 1s;
						cursor: pointer;
					}

					.img_clouse {
						width: 18px;
						height: 11px;
						transition: all 1s;
						cursor: pointer;
					}
				}

				.comments {
					display: flex;
					flex-direction: column;
					gap: 15px;
					overflow-y: auto;

					p {
						color: rgb(0, 0, 0);
						font-size: 18px;
						font-weight: 500;
						line-height: 130%;
						letter-spacing: 0%;
						text-align: left;
					}

					@media (max-width: 768px) {
						p {
							font-size: 16px;
						}
					}

					@media (max-width: 650px) {
						p {
							font-size: 15px;
						}
					}

					@media (max-width: 500px) {
						p {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.PersonalData {
		flex-direction: column;
		gap: 20px;
		transition: all 1s;

		.information {
			width: 100%;
		}

		.other_data {
			flex-direction: column;
			gap: 20px;

			.information {
				width: 100%;
			}

			.additional_info {
				width: 100%;

				.rating {
					.rating_star {
						width: 60%;
						justify-content: baseline;
						gap: 20px;
					}

					@media (max-width: 768px) {
						.rating_star {
							width: 100%;
						}
					}
				}
			}
		}
	}

	.PersonalData_open {
		width: 65%;
		transition: all 1s;

		.only_user_information {
			transition: all 1s;

			.user_information {
				width: 100%;
			}

			.avatar_field {
				display: none;
			}
		}

		.other_data {
			.additional_info {
				.rating {
					.rating_star {
						width: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.PersonalData_open {
		width: 100%;
	}
}