.DelDocs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;

  .TermsOfUse_card {
    width: 350px;
    height: 150px;
    background: rgb(52, 152, 219);
    border-radius: 16px;
    overflow-y: auto;
    padding: 20px;
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h2 {
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: center;
    }

    .bittons {
      display: flex;
      justify-content: space-around;

      button {
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 38px;
        border-radius: 8px;
        background: rgb(255, 255, 255);
        // color: rgb(52, 152, 219);
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
      }
    }
  }

  @media (max-width: 420px) {
    .TermsOfUse_card {
      width: 90%;
    }
  }
}